<template lang="pug">
  .ed-grid.m-grid-12
    .m-cols-2.m-x-1
      ul.o-aside-navigation
        li(
          :class="currentTab === 0 ? 'active':''"
          @click="currentTab = 0"
        ) Sesiones
        li(
          :class="currentTab === 1 ? 'active':''"
          @click="currentTab = 1"
        ) Sala de emociones
        li(
          :class="currentTab === 2 ? 'active':''"
          @click="currentTab = 2"
        ) Pacientes
    .m-cols-10.m-x-3
      transition(name="fade")
        list-sessions(
          v-if="currentTab === 0"
          :sessionsData="sessionsData"
        )
        list-emotion-rooms(
          v-if="currentTab === 1"
          :sessionsData="emotionRoomsData"
        )
        list-trainings(
          v-if="currentTab === 2"
          :trainingsData="listTrainings"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listSessions: () => import('@/components/03-organism/listSessions/history'),
    listNotes: () => import('@/components/03-organism/listNotes/default'),
    listEmotionRooms: () => import('@/components/03-organism/listEmotionRooms/history'),
    listTrainings: () => import('@/components/03-organism/listTrainings/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      sessionsData: [
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ],

      emotionRoomsData: [
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ],
      listTrainings: [
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
