<template lang='pug'>
  .c-login.ed-grid.m-grid-6
    .m-cols-3.m-x-1.l-cols-4.l-x-1.c-login__banner
      img(src="@/assets/images/login/banner.svg")
    .m-cols-3.m-x-4.l-cols-2.l-x-5.c-login__access
      img(src="@/assets/images/login/logo.svg")
      validation-observer.c-login-form(
        ref="observer"
        v-slot="{ handleSubmit }"
        tag="form"
        @submit.prevent
      )
        .input-group
          input-text(
            icon="user"
            type="email"
            rules="required|email"
            inputStyle=""
            name="email"
            v-model="username"
            placeholder="Correo electrónico"
            @enter="handleSubmit(onSubmit)"
          )
        .input-group
          input-password(
            icon="lock"
            rules="required"
            inputStyle=""
            name="password"
            v-model="password"
            placeholder="Contraseña"
            @enter="handleSubmit(onSubmit)"
          )
        .input-group
          label.e-checkbox
            input(
              type="checkbox",
              v-model="saveAuth"
            )
            span
              i.icon-check

            p Recordar cuenta
        button.e-btn.e-btn--rounded.e-btn--fullwidth(
          v-if="!isLoadingAuth"
          @click="handleSubmit(onSubmit)"
        ) Ingresar
        .e-btn.e-btn--rounded.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          i.icon-loading
        a(@click="$modal.show('recover-password')").c-login-form__link ¿Olvidaste tu contraseña?
    modal(
      name="recover-password"
      :width="450"
      height="auto"
      :adaptive="true"
      class="c-modal"
    )
      .c-recover-pass
        i.icon-lock
        p ¿Olvidaste tu contraseña?
          span Ingresa tu correo para recuperarla
        validation-observer.c-login-form.c-login-form--recover(
          ref="observer"
          v-slot="{ handleSubmit }"
          tag="form"
          @submit.prevent
        )
          .input-group
            input-text(
              icon="user"
              type="email"
              rules="required|email"
              inputStyle="input--gray"
              name="email"
              v-model="emailRecover"
              placeholder="Correo electrónico"
              @enter="handleSubmit(onSubmit)"
            )
          button.e-btn.e-btn--rounded.e-btn--small(
            v-if="!isLoadingAuth"
            @click="handleSubmit(onSubmit)"
          ) Recuperar
          .e-btn.e-btn--rounded.e-btn--fullwidth.e-btn--loading(
            v-else
          )
            i.icon-loading
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    inputText: () => import('@/components/02-molecule/formElements/default'),
    inputPassword: () => import('@/components/02-molecule/formElements/password')
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      emailRecover: '',
      username: '',
      errorMessage: '',
      password: '',
      saveAuth: false,
      isLoadingAuth: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    if (this.$cookies.get('auth')) {
      this.username = this.$cookies.get('auth').username
      this.password = this.$cookies.get('auth').password
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGIN: 'Auth/A_LOGIN'
    }),
    async onSubmit () {
      this.isLoadingAuth = true
      try {
        await this.A_LOGIN({ username: this.username, password: this.password })
        if (this.saveAuth) {
          this.$cookies.set('auth', { username: this.username, password: this.password })
        }
        location.reload()
      } catch (error) {
        this.isLoadingAuth = false
        console.error('ERROR_LOGIN [PAGE]', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
