<template lang="pug">
  .c-therapy
    .ed-grid.m-grid-5(
      v-if="S_SESSION.Patient"
    )
      .m-cols-2(ref="columnAffix")
        affix(
          class="sidebar-menu"
          relative-element-selector=".m-cols-2"
          :offset="{ top: 95, bottom: 0 }"
          v-on:affix="equalWidth()"
          :scroll-affix="true"
          :style="'width: ' + widthAffix +'px;'"
          v-if="widthAffix > 0"
        )
          .stayPosition
            .c-therapy__camera(
              v-if="!calling"
            )
              .user.connect(
                v-if="patientConnectedInSession"
              )
                img(
                  :src="S_SESSION.Patient.Avatar.image"
                )
              .user.warning(
                v-if="patientConnected && !patientConnectedInSession"
              )
                img(
                  :src="S_SESSION.Patient.Avatar.image"
                )
              .user.error(
                v-if="!patientConnected"
              )
                img(
                  :src="S_SESSION.Patient.Avatar.image"
                )
              .e-btn.e-btn--white.e-btn--rounded.e-btn--small(
                v-if="patientConnectedInSession"
                @click="initCall"
              ) Iniciar cita
            .ed-grid.m-grid-6.c-therapy__notes(
              v-if="calling"
            )
              .m-cols-3
                .c-room__me
                  .camera#videoElement(
                    :class="(!stateCall.cameraMe)? 'd-none' : ''"
                  )
                  .camera#videoRemoteElement(
                    :class="(stateCall.cameraMe)? 'd-none' : ''"
                  )
                    div(
                      v-if="!stateCall.remoteVideo"
                      style="background: black; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 2"
                    )
                    img(
                      v-if="!stateCall.remoteVideo"
                      style="z-index: 2; width: 96px; height: 96px; object-fit: cover; border-radius: 50%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
                      :src="S_SESSION.Patient.Avatar.image"
                    )
                  .e-btn--icon(
                    v-if="!stateCall.cameraMe"
                    style="z-index: 2; background: transparent;")
                    img(
                      v-if="stateCall.remoteAudio"
                      src="@/assets/images/icon_mic_session.png"
                    )
                    img(
                      v-if="!stateCall.remoteAudio"
                      src="@/assets/images/icon_mic_session_off.png"
                    )
                  .e-btn--icon(
                    v-if="!stateCall.cameraMe"
                    style="z-index: 2; background: transparent;")
                    img(
                      v-if="stateCall.remoteVideo"
                      src="@/assets/images/icon_camera_session.png"
                    )
                    img(
                      v-if="!stateCall.remoteVideo"
                      src="@/assets/images/icon_camera_session_off.png"
                    )
                  div(style="z-index: 2; position: absolute; top: 8px; right: 8px;")
                    img(
                      @click="toggleCameraMe()"
                      src="@/assets/images/icon_change_video_session.png"
                    )
              .m-cols-3
                .conversation(style="background: #EFEFEF; height: 300px; overflow: auto; margin: 12px 12px 12px 0px; border-radius: 8px;")
                  ul(style="list-style: none; padding: 0; margin:0;")
                    li(
                      style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
                      v-for="(item, key) in messages"
                    )
                      span(
                        style="display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                        v-if="item.type === 'in'"
                      ) {{ item.message }}
                      span(
                        style="float: right; display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                        v-if="item.type === 'out'"
                      ) {{ item.message }}
                div(style="padding-right: 12px;")
                  input-text(
                    type="text"
                    v-model="message"
                    style="margin-bottom: 12px;"
                    placeholder="Escribir mensaje"
                    v-on:keyup.enter.native="sendMessage"
                  )
                div(style="display:flex;margin-right:8px; margin-bottom: 8px;")
                  div(style="width:25%;flex:1; padding-right:4px;")
                    img(
                      @click="finishCall"
                      src="@/assets/images/icon_end_session.png"
                    )
                  div(
                    v-if="stateCall.camera"
                    style="width:25%;flex:1; padding-right:4px;")
                    img(
                      @click="enableCamera()"
                      src="@/assets/images/icon_camera_session.png"
                    )
                  div(
                    v-if="!stateCall.camera"
                    style="width:25%;flex:1; padding-right:4px;")
                    img(
                      @click="enableCamera()"
                      src="@/assets/images/icon_camera_session_off.png"
                    )
                  div(
                    v-if="stateCall.mic"
                    style="width:25%;flex:1; padding-right:4px;")
                    img(
                      @click="enableAudio()"
                      src="@/assets/images/icon_mic_session.png"
                    )
                  div(
                    v-if="!stateCall.mic"
                    style="width:25%;flex:1; padding-right:4px;")
                    img(
                      @click="enableAudio()"
                      src="@/assets/images/icon_mic_session_off.png"
                    )
                  div(style="width:25%;flex:1; padding-right:4px;")
                    img(
                      src="@/assets/images/icon_chat_session.png"
                    )
            .c-therapy__notes
              .header
                div
                  svg(
                    style="height: 11px;margin-top: 9px;margin-right: 4px"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="clock"
                    class="svg-inline--fa fa-clock fa-w-16"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  )
                    path(
                      fill="#FFFFFF"
                      d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z"
                    )
                  span(style="color: #fff") {{ timer }}
                ul
                  li(
                    :class="tabsSessions === 1 ? 'active' : null"
                    @click="toggleSession(1)"
                  ) 1
                  li(
                    :class="tabsSessions === 2 ? 'active' : null"
                    @click="toggleSession(2)"
                  ) 2
                  li(
                    :class="tabsSessions === 3 ? 'active' : null"
                    @click="toggleSession(3)"
                  ) 3
                  li(
                    :class="tabsSessions === 4 ? 'active' : null"
                    @click="toggleSession(4)"
                  ) 4
                  li(
                    :class="tabsSessions === 5 ? 'active' : null"
                    @click="toggleSession(5)"
                  ) 5
                  li(
                    :class="tabsSessions === 6 ? 'active' : null"
                    @click="toggleSession(6)"
                  ) 6
              .body(
                v-if="S_SESSION.Patient"
              )
                .data
                  span.user {{ S_SESSION.Patient.firstname }}
                  span Notas
                  .priority
                    p Añadir prioridad
                    ul
                      li(
                        @click="noteState = 'normal'; noteUpdateble = true"
                      )
                        i.icon-check(
                          :class="noteState === 'normal' ? 'active':''"
                        )
                        | Normal
                      li(
                        @click="noteState = 'regular'; noteUpdateble = true"
                      )
                        i.icon-check(
                          :class="noteState === 'regular' ? 'active':''"
                        )
                        | Mediana
                      li(
                        @click="noteState = 'emergency'; noteUpdateble = true"
                      )
                        i.icon-check(
                          :class="noteState === 'emergency' ? 'active':''"
                        )
                        | Urgente
                .message
                  textarea(
                    v-model="messageNote"
                    v-on:keyup="noteUpdateble = true"
                  )
                  .tag(
                    v-if="noteState"
                    :class="noteState"
                  ) {{ stateName }}
                  .e-btn--icon(
                    v-if="noteUpdateble"
                    @click="updateNote"
                  )
                    .icon-check
      .m-cols-3
        .c-therapy__indicator
          .index
            span Sesión
            span {{ tabsSessions }}
          .points
            ul.list
              li(
                :class="tabsSessions === 1 ? 'active' : null"
                @click="toggleSession(1)"
              ) 1
              li(
                :class="tabsSessions === 2 ? 'active' : null"
                @click="toggleSession(2)"
              ) 2
              li(
                :class="tabsSessions === 3 ? 'active' : null"
                @click="toggleSession(3)"
              ) 3
              li(
                :class="tabsSessions === 4 ? 'active' : null"
                @click="toggleSession(4)"
              ) 4
              li(
                :class="tabsSessions === 5 ? 'active' : null"
                @click="toggleSession(5)"
              ) 5
              li(
                :class="tabsSessions === 6 ? 'active' : null"
                @click="toggleSession(6)"
              ) 6
            ul.options
              li(
                @click="tabsTherapies = 'data'"
                :class="tabsTherapies === 'data' ? 'active':''"
              ) HC
              li(
                @click="tabsTherapies = 'therapy'"
                :class="tabsTherapies === 'therapy' ? 'active':''"
              ) Terapia
              li(
                @click="tabsTherapies = 'task'"
                :class="tabsTherapies === 'task' ? 'active':''"
              ) Tarea
              li(
                @click="tabsTherapies = 'method'"
                :class="tabsTherapies === 'method' ? 'active':''"
              ) Método
              li(
                @click="tabsTherapies = 'diary'"
                :class="tabsTherapies === 'diary' ? 'active':''"
              ) Diario
              li(
                @click="tabsTherapies = 'end'"
                :class="tabsTherapies === 'end' ? 'active':''"
              ) Cierre
        data-therapy(
          v-if="tabsTherapies === 'data'"
          :item="S_SESSION"
          :week="tabsSessions"
        )
        week-therapy(
          v-if="tabsTherapies === 'therapy'"
          :item="S_SESSION"
          :week="tabsSessions"
        )
        task-therapy(
          v-if="tabsTherapies === 'task'"
          :item="S_SESSION"
          :week="tabsSessions"
        )
        method-therapy(
          v-if="tabsTherapies === 'method'"
          :item="S_SESSION"
          :week="tabsSessions"
        )
        diary-therapy(
          v-if="tabsTherapies === 'diary'"
          :item="S_SESSION"
          :week="tabsSessions"
        )
        ending-therapy(
          v-if="tabsTherapies === 'end'"
          :item="S_SESSION"
          :week="tabsSessions"
          @nexSessionCreated="addNextSession"
        )
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { Affix } from 'vue-affix'
import jwtDecode from 'jwt-decode'
import VideoTwilio from 'twilio-video'
import { playSound } from '@/plugins/util'

export default {
  components: {
    // component
    Affix,
    dataTherapy: () => import('@/components/02-molecule/therapy/data'),
    weekTherapy: () => import('@/components/02-molecule/therapy/week'),
    taskTherapy: () => import('@/components/02-molecule/therapy/task'),
    methodTherapy: () => import('@/components/02-molecule/therapy/method'),
    diaryTherapy: () => import('@/components/02-molecule/therapy/diary'),
    endingTherapy: () => import('@/components/02-molecule/therapy/ending'),
    inputText: () => import('@/components/02-molecule/formElements/textRegular')
  },
  props: {
    // propierty: { required: false, type: String },
  },
  data () {
    return {
      timer: '45:00',
      noteState: '',
      messageNote: '',
      noteUpdateble: false,
      tabNote: 0,
      calling: false,
      localTracks: null,
      stateCall: {
        active: false,
        mic: false,
        camera: false,
        cameraMe: false,
        remoteVideo: true,
        remoteAudio: false
      },
      message: '',
      messages: [],
      tabsSessions: 0,
      tabsTherapies: 'data',
      currentSession: null,
      patientConnected: false,
      patientConnectedInSession: false,
      widthAffix: 0,
      request: null
      /**
       * data
       * therapy
       * task
       * method
       * diary
       * end
       */
    }
  },
  computed: {
    stateName () {
      if (this.noteState === 'normal') {
        return 'Normal'
      } else if (this.noteState === 'regular') {
        return 'Mediana'
      }
      return 'Urgente'
    },
    ...mapState({
      S_SESSION: state => state.Sessions.S_SESSION,
      S_CHAT: state => state.Sessions.S_CHAT
    })
  },
  watch: {},
  async created () {
    const session = await this.A_GET_SESSION({ id: this.$route.params.slug })
    setInterval(() => {
      this.calcTimer(session)
    }, 1000)
    this.initCurrentSession(0)
    await this.initChat()
    this.patientConnected = false
    this.isPatientConnected()
    this.sockets.subscribe('connected-' + this.S_SESSION.Patient.id, (data) => {
      if (data) {
        this.patientConnected = true
      } else {
        this.patientConnected = false
        this.patientConnectedInSession = false
      }
    })
    this.sockets.subscribe('connected-in-' + this.S_SESSION.Patient.id, (data) => {
      this.patientConnected = true
      this.patientConnectedInSession = true
      playSound()
    })
    this.sockets.subscribe('connected-out-' + this.S_SESSION.Patient.id, (data) => {
      this.stopCall()
    })
    this.sockets.subscribe('waiting', (data) => {
      console.log('waiting')
      if (data.idProfile === this.S_SESSION.Patient.id) {
        this.patientConnected = true
        this.patientConnectedInSession = true
        playSound()
      }
    })
    this.sockets.subscribe('getOutWaitingSession', (data) => {
      console.log('getOutWaitingSession')
      if (data.idProfile === this.S_SESSION.Patient.id) {
        this.patientConnected = true
        this.patientConnectedInSession = false
        console.log('salio')
      }
    })
    const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
    this.$socket.emit('waitingSession', { idProfile: profile.user.idProfile, idSession: this.S_SESSION.sessions[0].id })

    window.addEventListener('beforeunload', this.beforeUnload)
  },
  destroyed () {
    window.removeEventListener('beforeunload', this.beforeUnload)
    this.stopCall()
    const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
    this.$socket.emit('exitSession', { idProfile: profile.user.idProfile, idSession: this.S_SESSION.sessions[0].id })
  },
  mounted () {
    // this.widthAffix = this.$refs.columnAffix.clientWidth
    this.sockets.subscribe('messageToUser', (data) => {
      let type = 'in'
      if (data.idSocket === this.$socket.id) {
        type = 'out'
      }
      this.messages = [...this.messages, {
        message: data.message,
        type: type
      }]
      // you can also do this.messages.push(data)
    })
  },
  updated () {
    this.$nextTick(() => this.scrollChatToEnd())
    this.widthAffix = this.$refs.columnAffix.clientWidth
  },
  methods: {
    ...mapActions({
      A_SAVE_NOTE: 'Sessions/A_SAVE_NOTE',
      A_GET_SESSION: 'Sessions/A_GET_SESSION',
      A_GET_SESSION_CHAT: 'Sessions/A_GET_SESSION_CHAT',
      A_GET_NOTIFY_START_SESSION: 'Sessions/A_GET_NOTIFY_START_SESSION',
      A_SET_MESSAGE: 'Sessions/A_SET_MESSAGE',
      A_TWILLIO_ACCESS: 'Auth/A_TWILLIO_ACCESS'
    }),
    calcTimer (session) {
      const now = this.$moment(new Date()).add({ hours: -5, minutes: -45 })
      const date = this.$moment(session.sessions[0].date)
      const timer = date.diff(now, 'seconds')
      let min
      let sec
      if (timer >= 2700) {
        this.timer = '45:00'
      } else if (timer > 0) {
        min = Math.trunc(timer / 60)
        sec = timer - (min * 60)
        this.timer = `${min}:${sec}`
      } else {
        this.timer = '00:00'
      }
    },
    updateNote () {
      this.noteUpdateble = false
      let priority = 0
      const note = this.messageNote
      if (this.noteState === 'normal') {
        priority = 1
      } else if (this.noteState === 'regular') {
        priority = 2
      } else if (this.noteState === 'emergency') {
        priority = 3
      }
      const params = {
        idSession: this.currentSession.id,
        note: note,
        priority: priority
      }
      if (this.currentSession.Notes[0]) {
        this.currentSession.Notes[0].note = note
        this.currentSession.Notes[0].priority = priority
      } else {
        this.currentSession.Notes = []
        this.currentSession.Notes.push({
          note: note,
          priority: priority
        })
      }
      this.A_SAVE_NOTE(params)
    },
    async initCall () {
      await this.A_GET_NOTIFY_START_SESSION(this.S_SESSION.sessions[0].id)
      this.calling = true
      await this.connectCall()
      this.$socket.emit('sessionStart', this.S_SESSION.sessions[0].id)
    },
    sendMessage () {
      const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      this.$socket.emit('messageToRoom', {
        roomName: 'room-s-' + this.S_SESSION.idChat,
        author: profile.user.firstname,
        message: this.message
      })
      this.A_SET_MESSAGE({
        id: this.S_CHAT.data.ChatParticipant.id,
        message: this.message
      })
      this.message = ''
    },
    async initChat () {
      await this.A_GET_SESSION_CHAT(this.S_SESSION.idChat)
      this.S_CHAT.data.messages.map(item => {
        this.messages.push({
          message: item.message,
          type: item.type
        })
      })
      this.$socket.emit('joinRoom', { roomName: 'room-s-' + this.S_SESSION.idChat })
    },
    toggleSession (week) {
      if (week <= this.S_SESSION.sessions.length) {
        const position = this.S_SESSION.sessions.length - week
        this.initCurrentSession(position)
      }
    },
    initCurrentSession (position) {
      if (this.S_SESSION.sessions[position]) {
        if (this.noteUpdateble) {
          this.updateNote()
        }
        this.currentSession = this.S_SESSION.sessions[position]
        this.tabsSessions = this.currentSession.week
        this.setNote()
      } else {
        console.log('no hay sessión: ' + position)
      }
    },
    setNote () {
      this.noteState = ''
      this.messageNote = ''
      if (this.currentSession.Notes[0]) {
        this.messageNote = this.currentSession.Notes[0].note
        if (this.currentSession.Notes[0].priority === 1) {
          this.noteState = 'normal'
        }
        if (this.currentSession.Notes[0].priority === 2) {
          this.noteState = 'regular'
        }
        if (this.currentSession.Notes[0].priority === 3) {
          this.noteState = 'emergency'
        }
      }
    },
    scrollChatToEnd () {
      const container = this.$el.querySelector('.conversation')
      if (container) {
        container.scrollTop = container.scrollHeight - container.clientHeight
      }
    },
    isPatientConnected () {
      this.$socket.emit('isConnect', {
        idProfile: this.S_SESSION.Patient.id
      })
    },
    async connectCall () {
      try {
        const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
        const twilioToken = await this.A_TWILLIO_ACCESS({
          name: profile.user.firstname + '-' + profile.user.id,
          room: this.S_SESSION.sessions[0].twilio_uniquename
        })
        this.localTracks = await VideoTwilio.createLocalTracks({
          audio: true,
          video: true
        })
        this.room = await VideoTwilio.connect(twilioToken, {
          name: this.S_SESSION.sessions[0].twilio_uniquename,
          tracks: this.localTracks
        })

        const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
        if (this.stateCall.camera) {
          localVideoTrack.enable()
        } else {
          localVideoTrack.disable()
          localVideoTrack.stop()
        }

        const localAudioTrack = this.localTracks.find(track => track.kind === 'audio')
        if (this.stateCall.mic) {
          localAudioTrack.enable()
        } else {
          localAudioTrack.disable()
          localAudioTrack.stop()
        }

        if (this.room.participants && this.room.participants.size > 0) {
          this.room.participants.forEach(this.participantConnected)
        }
        this.room.on('participantConnected', this.participantConnected)
      } catch (error) {
        console.log(error)
      }
    },
    async enableCamera () {
      this.stateCall.camera = !this.stateCall.camera
      const video = document.querySelector('#videoElement')
      const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
      if (this.stateCall.camera) {
        if (video) {
          video.appendChild(localVideoTrack.attach())
        }
        localVideoTrack.restart()
        localVideoTrack.enable()
      } else {
        localVideoTrack.disable()
        localVideoTrack.stop()
        if (video) {
          [].slice.call(video.children).forEach(function () {
            video.firstChild.remove()
          })
        }
      }
    },
    enableAudio () {
      this.stateCall.mic = !this.stateCall.mic
      const localAudioTrack = this.localTracks.find(track => track.kind === 'audio')
      if (this.stateCall.mic) {
        localAudioTrack.restart()
        localAudioTrack.enable()
      } else {
        localAudioTrack.disable()
        localAudioTrack.stop()
      }
    },
    releaseTracks () {
      const video = document.querySelector('#videoElement')
      if (video && video.children.length > 0) {
        [].slice.call(video.children).forEach(function () {
          video.firstChild.remove()
        })
      }
      if (this.localTracks) {
        const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
        localVideoTrack.disable()
        localVideoTrack.stop()
        const localAudioTrack = this.localTracks.find(track => track.kind === 'audio')
        localAudioTrack.disable()
        localAudioTrack.stop()
      }
    },
    toggleCameraMe () {
      if (this.stateCall.cameraMe && this.stateCall.camera) {
        const video = document.querySelector('#videoElement');
        [].slice.call(video.children).forEach(function () {
          video.firstChild.remove()
        })
      }
      this.stateCall.cameraMe = !this.stateCall.cameraMe
      this.$nextTick().then(() => {
        if (this.stateCall.cameraMe && this.stateCall.camera) {
          const video = document.querySelector('#videoElement')
          const localVideoTrack = this.localTracks.find(track => track.kind === 'video')
          if (video) {
            video.appendChild(localVideoTrack.attach())
          }
          localVideoTrack.restart()
          localVideoTrack.enable()
        }
      })
    },
    participantConnected (participant) {
      if (participant) {
        console.log('Participant "%s" connected', participant.identity)
        const videoRemote = document.querySelector('#videoRemoteElement')

        participant.on('trackSubscribed', track => this.trackSubscribed(videoRemote, track))
        participant.on('trackEnabled', track => this.trackRemoteEnabled(track))
        participant.on('trackDisabled', track => this.trackRemoteDisabled(track))
      }
    },
    trackSubscribed (div, track) {
      const videoRemote = document.querySelector('#videoRemoteElement')
      if (track.kind === 'video') {
        this.stateCall.remoteVideo = track.isEnabled
      }
      if (track.kind === 'audio') {
        this.stateCall.remoteAudio = track.isEnabled
      }
      videoRemote.appendChild(track.attach())
    },
    trackRemoteEnabled (track) {
      console.log('trackRemoteEnabled')
      if (track.kind === 'video') {
        this.stateCall.remoteVideo = true
      }
      if (track.kind === 'audio') {
        this.stateCall.remoteAudio = true
      }
    },
    trackRemoteDisabled (track) {
      console.log('trackRemoteDisabled')
      if (track.kind === 'video') {
        this.stateCall.remoteVideo = false
      }
      if (track.kind === 'audio') {
        this.stateCall.remoteAudio = false
      }
    },
    stopCall () {
      this.releaseTracks()
      if (this.room) {
        this.room.disconnect()
      }
      this.patientConnected = false
      this.patientConnectedInSession = false
      this.calling = false
      this.stateCall.active = false
      this.stateCall.mic = false
      this.stateCall.camera = false
      this.isPatientConnected()
      // const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      // this.$socket.emit('exitSession', { idProfile: profile.user.idProfile, idSession: this.S_SESSION.sessions[0].id })
    },
    finishCall () {
      this.stopCall()
      this.$socket.emit('closeRoom', { roomName: 'room-s-' + this.S_SESSION.idChat })
    },
    equalWidth () {
      this.widthAffix = this.$refs.columnAffix.clientWidth
    },
    addNextSession (session) {
      this.S_SESSION.sessions.unshift(session)
    },
    beforeUnload (e) {
      this.stopCall()
    }
  }
}
</script>

<style lang="css" scoped>
  .d-none {
    display: none;
  }
</style>
