<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      select-input(:elements="filters.time" @input="changeCurrentSelect")
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon
        i.icon-calendar
        i.icon-down
      p Total: 14
    .ed-grid.m-grid-2
      .m-cols-1(v-for="element in sessionsData")
        card-room(
          :session="element"
          type="community"
          :router="{ name: 'EmotionRoomDetail', params: { slug: element.id } }"
        )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardRoom: () => import('@/components/02-molecule/cardSession/room'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    sessionsData: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      currentFilters: {
        time: null
      },
      filters: {
        time: [
          {
            name: 'Hoy',
            value: 'yesterday'
          },
          {
            name: 'Esta semana',
            value: 'week'
          },
          {
            name: 'Este mes',
            value: 'month'
          },
          {
            name: 'Este año',
            value: 'quarter'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_ROOMS: 'Rooms/A_GET_ROOMS'
    }),
    async changeCurrentSelect (e) {
      this.currentFilters.time = e

      await this.A_GET_ROOMS({
        to: e.value
      })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
