<template lang="pug">
  router-link(:to="router").c-card-training
    span.c-card-training__badge
      i.icon-play
      | {{ $moment(training.Media.duration, "hh:mm:ss").format("m [min.]") }}
    .c-card-training__body
      div
        p {{ training.Media.name }}
        i.icon-check-1(v-if="training.done > 0")
        img(:src="training.Media.image")
    img(:src="training.Media.image")
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    training: {
      required: false,
      type: Object
    },
    router: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
