<template lang="pug">
  .ed-grid.m-grid-12
    .m-cols-2.m-x-1
      ul.o-aside-navigation
        li
          router-link(:to="{ name: 'HistorySessionsPage' }" exact-active-class="active") Sesiones
        li
          router-link(:to="{ name: 'HistoryEmotionPage' }" exact-active-class="active") Sala de emociones
        li
          router-link(:to="{ name: 'HistoryPatientPage' }" exact-active-class="active") Pacientes
    .m-cols-10.m-x-3
      transition(name="fade")
        router-view
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
