<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      .e-btn.e-btn--rounded.e-btn--small(
        @click="changeCurrentSelect(-1)"
        :class="currentFilters.view === -1 ? '':'e-btn--white'"
      ) En curso
      .e-btn.e-btn--rounded.e-btn--small(
        @click="changeCurrentSelect(10)"
        :class="currentFilters.view === 10 ? '':'e-btn--white'"
      ) Visualizados
      p Total: {{ G_SEENS(currentFilters.view).length }}
    .ed-grid.m-grid-2
      .m-cols-1(v-for="element in G_SEENS(currentFilters.view)")
        card-training(
          :training="element"
          :router="{ name: 'TrainingDetail', params: { slug: element.id } }"
        )
</template>

<script>
import { mapGetters } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardTraining: () => import('@/components/02-molecule/cardTraining/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },
  data () {
    return {
      data: '',
      currentFilters: {
        view: -1
      }
    }
  },

  computed: {
    ...mapGetters({
      G_SEENS: 'Trainings/G_SEENS'
    })
  },
  watch: {},
  created () {
  },
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.view = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
