<template lang="pug">
  .ed-grid.m-grid-12
    .m-cols-2.m-x-1
      ul.o-aside-navigation
        li
          router-link(:to="{ name: 'MottivatecaForYouPage' }" exact-active-class="active") Para mí
        li
          router-link(:to="{ name: 'MottivatecaPatientsPage' }" exact-active-class="active") Para pacientes
    .m-cols-10.m-x-3
      transition(name="fade")
        router-view
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listMottivateca: () => import('@/components/03-organism/listMottivateca/default'),
    listMottivatecaPatient: () => import('@/components/03-organism/listMottivateca/patient')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      listTrainings: [
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
