<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      select-input(
        :elements="filters.categories"
        @input="changeCurrentSelect"
      )
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon
        i.icon-calendar
        i.icon-down
      p Sin leer: 2
    .ed-grid.m-grid-2
      .m-cols-1(
        v-for="(item, key) in patientsData"
        :key="key"
      )
        card-patient( :patient="item" )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardPatient: () => import('@/components/02-molecule/cardPatient/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    patientsData: {
      required: true,
      type: Array
    }
  },

  data () {
    return {
      data: '',
      currentFilters: {
        categories: {
          name: 'En curso',
          value: 'in-course'
        }
      },
      filters: {
        categories: [
          {
            name: 'En curso',
            value: 'in-course'
          },
          {
            name: 'Finalizó',
            value: 'ended'
          },
          {
            name: 'Abandonó',
            value: ''
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.time = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
