<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      p Hoy: {{ now }}
      p Sin leer: 0
    .ed-grid.m-grid-1
      .m-cols-1(v-for="element in notificationData")
        card-notification( :notification="element" )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardNotification: () => import('@/components/02-molecule/cardNotification/default')
  },
  props: {
    // propierty: { required: false, type: String },
    notificationData: {
      required: true,
      type: Array
    },
    now: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
  }
}
</script>

<style lang="sass" scoped>
</style>
