$g-primary: #006AB6;
$g-secondary: #006AB6;

$g-text-lighter: #ffffff;
$g-text-light: #C8C6C8;

$g-text-dark: #7d7d7d;
$g-text-darker: #404040;

$g-link-color: #3284ef;

$g-light: #ffffff;

$g-body: linear-gradient(to bottom, #040411, #040411 142%);

$g-error: #ef476f;
$g-sucess: #0ac299;
