<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters(
      style="justify-content: space-between"
    )
      p
        select-input(
          :elements="filters.time"
          @input="changeCurrentSelect"
        )
        p Pacientes: {{ countSessions }}
        p Sala de emociones: {{ countRooms }}
      p
        input-text(
          v-if="search"
          icon="search"
          type="text"
          rules="required"
          inputStyle="input__icon"
          name="search"
          v-model="filters.search"
          placeholder="Buscar"
          style="flex-direction: row-reverse; flex-wrap: nowrap"
          @iconEvent="search = !search"
          @change="toSearch"
        )
        template(
          v-else
        )
          .input__icon
            i(
              @click="search = !search"
            ).icon-search
    h3 Turno mañana
    .ed-grid.m-grid-2(
      v-if="this.sessions.data"
    )
      .m-cols-1(
        v-for="(element, key) in sessionsMorning"
        :key="key"
      )
        card-session(
          v-if="!element.title"
          :session="element"
          :router="{ name: redirectForType(element.type), params: { slug: element.patient_id } }"
        )
        card-session(
          v-if="element.title"
          :session="element"
          :router="{ name: 'EmotionRoomDetail', params: { slug: element.id } }"
        )
    h3 Turno tarde
    .ed-grid.m-grid-2(
      v-if="this.sessions.data"
    )
      .m-cols-1(
        v-for="(element, key) in sessionsAfternoon"
        :key="key"
      )
        card-session(
          v-if="!element.title"
          :session="element"
          :router="{ name: redirectForType(element.type), params: { slug: element.patient_id } }"
        )
        card-session(
          v-if="element.title"
          :session="element"
          :router="{ name: 'EmotionRoomDetail', params: { slug: element.id } }"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    cardSession: () => import('@/components/02-molecule/cardSession/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    sessions: {
      type: Object,
      required: true
    }
  },

  data () {
    return {
      data: '',
      currentFilters: {
        time: null
      },
      search: false,
      filters: {
        search: '',
        time: [
          {
            name: 'Hoy',
            value: 'today'
          },
          {
            name: 'Esta semana',
            value: 'week'
          },
          {
            name: 'Este mes',
            value: 'month'
          },
          {
            name: 'Este año',
            value: 'year'
          }
        ]
      },
      placeholder: {
        name: 'Hoy',
        value: 'today'
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    countSessions () {
      if (this.sessions.data) {
        return this.sessions.data.length
      }
      return 0
    },
    countRooms () {
      if (this.sessions.rooms) {
        return this.sessions.rooms.length
      }
      return 0
    },
    sessionsMorning () {
      const data = []
      this.sessions.data.map((item) => {
        if (item.date) {
          if (this.$moment(item.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('H') < 12) {
            data.push(item)
          }
        }
      })
      this.sessions.rooms.map((item) => {
        if (item.date) {
          if (this.$moment(item.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('H') < 12) {
            data.push(item)
          }
        }
      })
      return data.sort(this.sortByDate)
    },
    sessionsAfternoon () {
      const data = []
      this.sessions.data.map((item) => {
        if (item.date) {
          if (this.$moment(item.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('H') >= 12) {
            data.push(item)
          }
        }
      })
      this.sessions.rooms.map((item) => {
        if (item.date) {
          if (this.$moment(item.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('H') >= 12) {
            data.push(item)
          }
        }
      })
      return data.sort(this.sortByDate)
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.time = e
      this.$emit('changeTo', this.currentFilters.time)
    },
    redirectForType (type) {
      // return type === 'personal' ? 'TherapyDetail' : 'EmotionRoomDetail'
      return 'TherapyDetail'
    },
    sortByDate (a, b) {
      if (a.date === b.date) {
        return 0
      } else {
        return (a.date < b.date) ? -1 : 1
      }
    },
    toSearch (e) {
      this.$emit('searchTo', e)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
