<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      select-input(:elements="filters.time" @input="changeCurrentSelect")
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon
        i.icon-calendar
        i.icon-down
      p Total: 14
    .ed-grid.m-grid-2
      .m-cols-1(v-for="element in sessionsData.data")
        card-session(
          :session="element"
          :type="element.type"
          mode="history"
          :router="{ name: 'TherapyDetail', params: { slug: element.id } }"
        )
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardSession: () => import('@/components/02-molecule/cardSession/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    sessionsData: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      currentFilters: {
        time: null
      },
      filters: {
        time: [
          {
            name: 'Hoy',
            value: 'today'
          },
          {
            name: 'Esta semana',
            value: 'nextWeek'
          },
          {
            name: 'Este mes',
            value: 'nextMonth'
          },
          {
            name: 'Este año',
            value: 'nextYear'
          }
        ]
      }
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    changeCurrentSelect (e) {
      this.currentFilters.time = e
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
