<template lang="pug">
  .c-card-notification
    i.icon-notif-cita
    .c-card-notification__body
      p {{ notification.description }}
      .c-card-notification__footer
        span {{ $moment(notification.time).fromNow() }}
        .c-card-notification__btn Aceptar
        .c-card-notification__options
          i.icon-dots(
            @click="options = !options"
          )
          transition(name="fade")
            ul(v-show="options")
              li
                i.icon-calendar
                | Reprogramar
              li
                i.icon-cancel
                | Cancelar
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    notification: {
      required: false,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      options: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
