<template lang="pug">
  nav.c-navbar(:class="`${scrollPosition > 70 ? 'scrolling': '' } ${type ? 'c-navbar--' + type : ''} ${position ? 'c-navbar--' + position : ''}`")
    .ed-container
      router-link(:to="{name: 'DiarySessionsPage'}")
        img.c-navbar__logo(v-if="type === 'white' || scrollPosition > 70" src="@/assets/images/logo_iso.svg")
        img.c-navbar__logo(v-else src="@/assets/images/logo_mottiva.svg")
      ul.c-navbar__list
        li.c-navbar__user(
          @click="toggleUser = !toggleUser"
          :class="toggleUser ? 'active': ''"
        )
          img(
            v-if="S_PROFILE.Avatar"
            :src="S_PROFILE.Avatar.image"
          )
          span {{ S_PROFILE.firstname }} {{ (S_PROFILE.lastname)? S_PROFILE.lastname.substr(0, 1) + '.' : '' }}
          i.icon-down
          transition(name="fade")
            ul.c-navbar__user__config(v-show="toggleUser")
              li
                router-link(:to="{ name: 'ProfilePage' }") Mi perfil
              li
                router-link(:to="{ name: 'FrequentQuestionsPage' }") Preguntas frecuentes
              li
                a(@click="logoutAuth") Cerrar Sesión
        li.c-navbar__notifications.c-navbar__notifications--active
          i.icon-bell
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    type: {
      required: false,
      type: String
    },
    position: {
      required: false,
      type: String
    }
  },

  data () {
    return {
      data: '',
      toggleUser: false,
      scrollPosition: 0
    }
  },

  computed: {
    ...mapState({
      S_PROFILE: state => state.Auth.S_PROFILE
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PROFILE()
  },
  mounted () {
    window.addEventListener('scroll', this.updateScroll)
  },
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT',
      A_GET_PROFILE: 'Auth/A_GET_PROFILE'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    },
    updateScroll () {
      this.scrollPosition = window.scrollY
    }
  }
}
</script>
<style lang="sass" scoped>
</style>
