.c-card-patient {
  display: flex;
  padding: 1rem;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $g-text-dark;

  img {
    display: block;
    width: 25%;
    border-radius: 50%;
    object-fit: contain;
  }
  &__description {
    width: 60%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    h4 {
      font-weight: 600;
      margin-bottom: 0.2rem;
    }
    p {
      margin-bottom: .5rem;
    }
  }
  .e-btn {
    margin-top: auto;
    padding: 0.3rem 2.3rem;
  }
  &__history {
    padding: 0 2rem;
    h3 {
      font-weight: 600;
      text-align: center;
      font-size: 1.3rem;
      margin-top: 0;
    }
  }
  &__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    border-radius: 12px;
    margin-top: 3rem;

    img {
      max-height: 4.5rem;
      width: auto;
    }
    h4 {
      margin-bottom: 0;
      font-weight: 500;
    }
    p {
      margin-bottom: 0;
    }
  }
  &__sessions {
    padding: 3rem 0 1rem;
    
    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      
      p{
        margin-bottom: 0;
      }
      .e-btn {
        margin-top: 0;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
