.c-card-session {
  display: flex;
  padding: 1rem;
  box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: $g-text-dark;

  &:hover {
    text-decoration: none;
  }

  img {
    display: block;
    width: 25%;
    max-height: 6.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  &--community {
    color: #8d65d7;
  }
  &__description {
    width: 50%;
    padding-right: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;

    h4 {
      font-weight: 600;
      margin-bottom: 0.2rem;
    }
    p {
      margin-bottom: 1rem;
    }
    span {
      margin-top: auto;
    }
  }
  &__calendar {
    width: 25%;
    background-color: #efefef;
    padding: 0.5rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 1.5rem;
    color: $g-text-darker;
    font-weight: 600;

    span:last-child {
      font-size: 3.5rem;
      line-height: 0.9;
    }

    &--regular {
      background-color: #ffbe40;
      color: white;
    }
    &--medium {
      background-color: #ff6d3f;
      color: white;
    }
    &--emergency {
      background-color: #ff5656;
      color: white;
    }
    &--community {
      background-color: #a297ed;
      color: white;
    }
  }
}
