.c-diary {
    &__days {
        background-color: white;
        color: #236192;
        font-size: 20.41px;
        border-radius: .5rem;
        padding: .75rem 1rem .75rem 1rem;
        box-shadow: 2px 2px 15px 2px rgba(30,6,75,0.15);
        margin-top: .5rem;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    &__audios {
        background-color: white;
        color: #236192;
        border-radius: .5rem;
        padding: .75rem 2rem;
        box-shadow: 2px 2px 15px 2px rgba(30,6,75,0.15);
        margin-top: .5rem;
        justify-content: space-between;
    }
        audio {
            width: 100%;
            border-radius: .5rem;
        }
    &__text {
        background-color: white;
        color: #236192;
        font-size: 16px;
        border-radius: .5rem;
        padding: .75rem 2rem;
        box-shadow: 2px 2px 15px 2px rgba(30,6,75,0.15);
        margin-top: .5rem;
        overflow-wrap: break-word;
    }
        p {
            margin-bottom: .5rem;
        }
        .text {
            color: #7D7D7D;
            padding-left: 1rem;
        }
        .footer {
            text-align: right;
        }
}