.c-navbar {
  padding: 1rem 0;
  color: $g-primary;
  transition: all 0.3s;

  .ed-container {
    justify-content: space-between;
  }
  &__logo {
    height: 2.5rem;
  }
  &__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    display: flex;
    align-items: center;

    li {
      padding: 0 1rem;
    }
  }
  &__user {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    color: $g-primary;
    img {
      height: 2rem;
      width: 2rem;
      margin: 0 0.5rem;
      border-radius: 50%;
    }
    i {
      margin: 0 0 0 0.5rem;
      display: flex;
      transition: all 0.3s;
    }
    &__config {
      position: absolute;
      top: calc(100% + 1rem);
      left: 0;
      background-color: white;
      box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
      border-radius: 12px;
      padding: 0.5rem 0;
      list-style: none;
      font-size: 0.9rem;
      width: 200px;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: -12px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 15px solid white;
      }

      li {
        display: block;
        padding: 0.5rem;
        text-align: center;

        a {
          color: $g-text-darker;

          &:hover {
            color: $g-primary;
            text-decoration: none;
          }
        }
      }
    }
    &.active {
      i {
        transform: rotateX(180deg);
      }
    }
  }
  &--fixed {
    position: fixed;
    width: 100%;
    z-index: 500;
  }
  &--white {
    background-color: white;
    color: $g-primary;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

    .c-navbar__user {
      color: $g-primary;
    }
  }
  &.scrolling {
    background-color: white;
    color: $g-primary;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);

    .c-navbar__user {
      color: $g-primary;
    }
  }
}
