.c-profile {
  padding-top: 8rem;
  padding-bottom: 8rem;

  p {
    margin-bottom: 0;
  }
  i {
    color: $g-text-dark;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
  }
  &__avatar {
    position: relative;

    img {
      width: 100%;
      height: 12rem;
      border-radius: 50%;
      object-fit: cover;
    }
    i {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $g-primary;
      color: white;
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    input {
      display: none;
    }
  }

  &__box {
    background-color: white;
    border-radius: 0.9rem;
    padding: 1rem 1rem;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: $g-text-darker;
    position: relative;
    column-gap: 10px;

    &.m-grid-2 {
      grid-template-columns: repeat(2, calc((100% - 10px * 1) / 2)) !important;
    }
    &.m-grid-4 {
      grid-template-columns: repeat(4, calc((100% - 10px * 3) / 4)) !important;
    }
    > div {
      margin-bottom: 0.7rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
    &--edit {
      padding-right: 2.5rem;
    }
  }
  &__label {
    display: flex;
    align-items: center;

    i {
      margin-right: 0.5rem;
    }
  }
  &__download {
    display: flex;
    align-items: center;
    width: 100%;

    > i {
      margin-right: 0.5rem;

      &.transparent {
        color: transparent;
      }
    }
    > span {
      flex-shrink: 0;
      margin-right: 1rem;
    }

    &-input {
      box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.05);
      display: flex;
      align-items: center;
      width: 100%;
      margin-left: auto;
      border-radius: 7px;
      overflow: hidden;
      cursor: pointer;
      color: $g-text-darker;

      &:hover {
        text-decoration: none;
      }
      span {
        padding: 0.4rem;
      }
      i {
        margin-left: auto;
        background-color: $g-primary;
        color: white;
        padding: 0.5rem;
      }
    }
  }
  &__save {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.7rem;
      height: 1.7rem;
      font-size: 0.9rem;
      background-color: $g-primary;
      color: white;
      cursor: pointer;
      border-radius: 50%;
    }
  }
  &__video {
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;

    img {
      display: block;
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3rem;
    }
  }
  &__recover {
    display: flex;
    align-items: center;

    i {
      margin-right: 1rem;
    }
  }
  &__title {
    color: $g-primary;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__subtitle {
    display: block;
    font-size: 1rem;
    color: $g-primary;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  &__specialities {
    width: 100%;
    padding-left: 0;
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 1rem;

    li {
      float: left;
      border-radius: 8px;
      margin-right: 12px;
      margin-bottom: 12px;
      padding: 4px 8px 4px 8px;
      background-color: #EFEFEF;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        background-color: #efefef;

        &.icon-heart {
          color: #ef476f;

          + span {
            color: #ef476f;
          }
        }
        &.icon-family {
          color: #ff9f46;

          + span {
            color: #ff9f46;
          }
        }
        &.icon-team {
          color: #2a72f4;

          + span {
            color: #2a72f4;
          }
        }
      }
    }
    &__edit {
      li {
        position: relative;
        border-radius: 8px;
        margin-right: 12px;
        margin-bottom: 12px;
        padding: 4px 32px 4px 8px;
        background-color: #EFEFEF;

        i {
          &:first-child {
            background-color: $g-primary;
            color: white;
            width: 1.2rem;
            height: 1.2rem;
            font-size: .7rem;
            position: absolute;
            right: 4px;
            cursor: pointer;
          }
        }
      }
    }
  }
  &__calendar {
    width: 100%;

    > ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: sp;
        font-weight: 700;
        cursor: pointer;
        color: #c4c4c4;
        width: 2rem;
        height: 2rem;
        background-color: white;
        box-shadow: 1.82857px 1.82857px 13.7143px 1.82857px
          rgba(30, 6, 75, 0.15);
        border-radius: 0.7rem;
        transition: all 0.3s;

        &.active {
          background-color: $g-primary;
          color: white;
        }
      }
    }
  }
  &__hours {
    ul {
      padding-left: 0;
      list-style: none;
      width: 100%;
      margin-bottom: 0;

      li {
        padding: 0.5rem 0;
        text-align: center;

        span {
          display: block;
          padding: 0.1rem 0.4rem 0.2rem;
          border-radius: 1rem;
        }
        &.active span {
          color: white;
          background-color: $g-primary;
        }
      }
    }
  }
  &__group-studies {
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;

    .c-profile__save {
      top: 0;
      right: -2rem;

      i {
        margin-bottom: 0.5rem;
      }
    }

    &__container {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
    > div {
      margin-bottom: 1rem;
    }
  }
  &__footer {
    color: $g-primary;
    font-weight: 600;
    text-align: center;
  }
}
