.c-select {
  position: relative;

  &__label {
    background-color: $g-primary;
    color: white;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    border-radius: 2rem;
    cursor: pointer;
    text-overflow: ellipsis;

    span {
      white-space: nowrap;
      max-width: 7rem;
      overflow: hidden;
    }

    i {
      display: flex;
      margin-left: 1rem;
    }
  }
  &__options {
    position: absolute;
    z-index: 10000;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    max-width: 12rem;
    padding-left: 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
    border-radius: 1rem;
    color: $g-text-darker;
    overflow: hidden;

    li {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
      }
    }
  }
}
