.c-training {
  padding: 3rem 0;

  video {
    display: block;
    width: 90%;
    margin: 3rem auto 2rem;
  }
  &__options {
    color: $g-primary;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;

    li {
      margin: 0.5rem;

      a {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
