<template lang="pug">
  list-trainings(
    :trainingsData="listTrainings"
  )

</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listTrainings: () => import('@/components/03-organism/listTrainings/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      listTrainings: [
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        }
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
