<template lang="pug">
  list-patients(
    :patientsData="S_PATIENTS"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listPatients: () => import('@/components/03-organism/listPatients/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      listPatientsData: [
        {
          id: '1',
          name: 'Maria Claudia',
          photo: require('@/assets/images/profile.png'),
          sessions: {
            current: 4,
            total: 8,
            type: 'Depresión',
            session: [
              {
                id: 0,
                current: 1,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 1,
                current: 2,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 2,
                current: 3,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 3,
                current: 4,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 4,
                current: 5,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 5,
                current: 6,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 6,
                current: 7,
                date: '2021-03-05 12:43:00'
              },
              {
                id: 7,
                current: 8,
                date: '2021-03-05 12:43:00'
              }
            ]
          }
        },
        {
          id: '2',
          name: 'Maria Claudia',
          photo: require('@/assets/images/profile.png'),
          sessions: {
            current: 5,
            total: 8,
            type: 'Depresión',
            session: [
              {
                id: 0,
                current: 2,
                date: '2021-03-05 12:43:00'
              }
            ]
          }
        },
        {
          id: '3',
          name: 'Maria Claudia',
          photo: require('@/assets/images/profile.png'),
          sessions: {
            current: 1,
            total: 8,
            type: 'Depresión',
            session: [
              {
                id: 0,
                current: 3,
                date: '2021-03-05 12:43:00'
              }
            ]
          }
        },
        {
          id: '4',
          name: 'Maria Claudia',
          photo: require('@/assets/images/profile.png'),
          sessions: {
            current: 3,
            total: 8,
            type: 'Depresión',
            session: [
              {
                id: 0,
                current: 4,
                date: '2021-03-05 12:43:00'
              }
            ]
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_PATIENTS: state => state.Patients.S_PATIENTS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PATIENTS({
      to: ''
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PATIENTS: 'Patients/A_GET_PATIENTS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
