<template lang="pug">
  list-notifications(
    :notificationData="notifications"
    :now="now"
  )
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listNotifications: () => import('@/components/03-organism/listNotifications/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      now: 0,
      notifications: []
    }
  },

  computed: {
    ...mapState({
      S_NOTIFICATIONS: state => state.Notification.S_NOTIFICATIONS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_NOTIFICATIONS()
    if (this.S_NOTIFICATIONS.length > 0) {
      this.notifications = this.S_NOTIFICATIONS.map(el => {
        if (this.$moment(el.created_at, 'YYYY-MM-DD').format('YYYY-MM-DD') === this.$moment((new Date()).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')) {
          this.now++
        }
        return ({
          ...el,
          time: el.created_at
        })
      })
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_NOTIFICATIONS: 'Notification/A_GET_NOTIFICATIONS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
