<template lang="pug">
  .section
    .c-therapy__section.tab(
      @click="tabTherapy.experience = !tabTherapy.experience"
    )
      span 1. Tarea “Lista de todo aquello que te hace sentirte bien”
      i(
        :class="tabTherapy.experience ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.experience"
    )
      p
        i(style="font-size:12px").icon-check
        |  Mi madre: Juana
      p
        i(style="font-size:12px").icon-check
        |  Mi hermano: Javier
      p
        i(style="font-size:12px").icon-check
        |  Mi hijo: Andrés
      p
        i(style="font-size:12px").icon-check
        |  Cuando la casa esta tranquila
      p
        i(style="font-size:12px").icon-check
        |  Cuando mi mamá me visita
      p
        i(style="font-size:12px").icon-check
        |  Cuando mi esposo viaja
      p
        i(style="font-size:12px").icon-check
        |  Caminar por la playa
      p
        i(style="font-size:12px").icon-check
        |  Salir a pasear con mis hijos
        .c-therapy__experience-title_s5
          .head(
            @click="guideState = !guideState"
          )
            span Guia de preguntas (opcional)
            i(
              :class="guideState ? 'icon-up':'icon-down'"
            )
        .c-therapy__experience-body(v-if="guideState")
          ul
            li
              p a. ¿A quiénes o qué has incluido en tu lista?
              input-area(
                rules="required"
                name="guide-1"
                v-model="session.attributes.therapy_questionGuide_a1"
                placeholder="Seleccionar para comenzar a escribir"
                @change="saveSessionsAttribute('therapy_questionGuide_a1')"
              )
            li
              p b. Si no has podido hacer la lista, ¿Qué crees que podrías decir que es aquello en tu vida que te hace sentir mejor? ¿Quiénes? ¿Qué actividades?
              input-area(
                rules="required"
                name="guide-2"
                v-model="session.attributes.therapy_questionGuide_b1"
                placeholder="Seleccionar para comenzar a escribir"
                @change="saveSessionsAttribute('therapy_questionGuide_b1')"
              )
            li
              p c. ¿Qué características personales crees que te ayudan a sentirte mejor?
              input-area(
                rules="required"
                name="guide-3"
                v-model="session.attributes.therapy_questionGuide_c1"
                placeholder="Seleccionar para comenzar a escribir"
                @change="saveSessionsAttribute('therapy_questionGuide_c1')"
              )
            li
              p d. ¿Cómo crees que podrías fortalecer todo ello?
              input-area(
                rules="required"
                name="guide-4"
                v-model="session.attributes.therapy_questionGuide_d1"
                placeholder="Seleccionar para comenzar a escribir"
                @change="saveSessionsAttribute('therapy_questionGuide_d1')"
              )
    .c-therapy__section.tab(
      @click="tabTherapy.presentation = !tabTherapy.presentation"
    )
      span 2. Listado de recursos y estrategias
      i(
        :class="tabTherapy.presentation ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.presentation"
    )
      p Identificación y reconocimiento  de los recursos con las que cuenta la persona, en relación a su motivo de consulta.
      .c-therapy__experience-title(
              style="background-color:#EFEFEF;")
        .head(
          @click="motiveMain = !motiveMain"
        )
          span Recursos
          i(
            :class="motiveMain ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="motiveMain"
      )
        template(
          v-for="(item, i) in checkes"
        )
          .motive-checkbox(
            @click="check(i)"
            :class="item.item ? 'active' : ''"
          ) {{ item.count }}
          p(style="margin-top:-1.3rem;margin-left:2rem") {{item.value}}
      template(
          v-for="(item1, n) in checkes"
        )
        p(v-if="item1.item===true") {{item1.count + '.-'}} {{item1.value}}
        template(
          v-if="item1.value==='Otros' && item1.item===true"
        )
          input-area-g(
            rules="required"
            name="description"
            v-model="description"
            placeholder="Seleccionar para comenzar a escribir"
          )
    .c-therapy__section.tab(
      @click="tabTherapy.presentation1 = !tabTherapy.presentation1"
    )
      span 3. Construccion simbolica de una piramide
      i(
        :class="tabTherapy.presentation1 ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.presentation1"
    )
      .c-therapy__experience-body
        ul
          li
            h3 a. La cúspide, coloca aquellas características personales que considera aportan a su bienestar (sentido del humor, organización, etc.).
            input-area(
              rules="required"
              name="guide-1"
              v-model="session.attributes.therapy_questionGuide_a3"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_a3')"
            )
          li
            h3 b.  El centro, incluye aspectos centrales de su entorno nuclear que considera aportan a su bienestar (miembros de la familia, amistades, mascotas, etc.).
            input-area(
              rules="required"
              name="guide-2"
              v-model="session.attributes.therapy_questionGuide_b3"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_b3')"
            )
          li
            h3 c. La base, coloca los aspectos de su entorno social-comunitario que aportan a su bienestar (participación en organizaciones vecinales, asistencia a espacios religiosos, círculo laboral, etc.).
            input-area(
              rules="required"
              name="guide-3"
              v-model="session.attributes.therapy_questionGuide_c3"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_c3')"
            )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    inputAreaG: () => import('@/components/02-molecule/formElements/area-g')
  },
  props: {
    item: {
      require: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      guideState1: true,
      tabTherapy: {
        patient: false,
        presentation: false,
        presentation1: false,
        realization: false,
        experience: false,
        aplication: false
      },
      session: {
        attributes: {
          therapy_questionGuide_a1: '',
          therapy_questionGuide_b1: '',
          therapy_questionGuide_c1: '',
          therapy_questionGuide_d1: '',
          therapy_questionGuide_a2: '',
          therapy_questionGuide_a3: '',
          therapy_questionGuide_b3: '',
          therapy_questionGuide_c3: '',
          therapy_wellness: '',
          therapy_hope: ''
        }
      },
      checkes: [
        {
          item: false,
          count: 0,
          value: 'Capacidad de introspección'
        },
        {
          item: false,
          count: 0,
          value: 'Capacidad de acción frente a sus problemáticas'
        },
        {
          item: false,
          count: 0,
          value: 'Conocimiento de recursos adicionales disponibles'
        },
        {
          item: false,
          count: 0,
          value: 'Soporte o Apoyo social en su entorno'
        },
        {
          item: false,
          count: 0,
          value: 'Otros'
        }
      ],
      guideState: true,
      motiveMain: false,
      count: 0
    }
  },

  computed: {},

  watch: {},
  created () {
    this.item.sessions[4].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    check (i) {
      this.checkes[i].item = !this.checkes[i].item
      this.count = (this.checkes[i].item) ? this.count + 1 : this.count - 1
      this.checkes[i].count = this.count
    },
    saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[4].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
