<template lang="pug">
  .section
    .c-therapy__section.tab(
      @click="tabTherapy.motive = !tabTherapy.motive"
    )
      span 1. Motivo de la consulta
      i(
        :class="tabTherapy.motive ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.motive"
    )
      .c-therapy__experience-title
        .head(
          @click="guideState = !guideState"
        )
          span Guia de preguntas (opcional)
          i(
            :class="guideState ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="guideState"
      )
        ul
          li
            p a. ¿Cómo así decidiste inscribirte para este servicio?
            input-area(
              rules="required"
              name="guide-1"
              v-model="session.attributes.therapy_question_a"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_question_a')"
            )
          li
            p b. ¿Cuál es la razón principal de tu consulta?
            input-area(
              rules="required"
              name="guide-2"
              v-model="session.attributes.therapy_question_b"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_question_b')"
            )
          li
            p c. ¿Desde cuándo te sientes así o te encuentras en esa situación?
            input-area(
              rules="required"
              name="guide-3"
              v-model="session.attributes.therapy_question_c"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_question_c')"
            )
          li
            p d. ¿Ha pasado algo que haya generado un cambio en su situación?
            input-area(
              rules="required"
              name="guide-4"
              v-model="session.attributes.therapy_question_d"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_question_d')"
            )
      .c-therapy__experience-title
        .head(
          @click="motiveMain = !motiveMain"
        )
          span Motivo principal
          i(
            :class="motiveMain ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="motiveMain"
      )
        template(
          v-for="(item, i) in checkes"
        )
          .motive-checkbox(
            @click="check(i)"
            :class="item.item ? 'active' : ''"
          ) {{ item.count }}
          p(style="margin-top:-1.3rem;margin-left:2rem") {{item.value}}
      template(
          v-for="(item1, n) in checkes"
        )
        p(v-if="item1.item===true") {{item1.count + '.-'}} {{item1.value}}
      h4 Descripcion breve del paciente (500 car)
      input-area(
        rules="required"
        name="description"
        v-model="description"
        placeholder="María es sensible, altamente emocional y muestra poca capacidad para afrontar situaciones de estrés, ansiedad."
      )
    .c-therapy__section.tab(
      @click="tabTherapy.explain = !tabTherapy.explain"
    )
      span 2. Explicar el diario y la sala de emociones
      i(
        :class="tabTherapy.explain ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.explain"
    )
      p “Como te comenté en la sesión anterior, el Diario de Emociones es una de las herramientas de la plataforma que puedes utilizar fuera de las sesiones y, si quisieras, podamos luego retomar lo que has grabado o escrito y conversarlo conmigo. Puedes entrar al Diario de Emociones y, si en la semana sucede alguna situación o episodio que te haga recordar lo que venimos conversando en las sesiones, las puedes escribir o grabar por audio. Puedes incluir los pensamientos y sensaciones que se despiertan a partir de dicha situación. Sé que esta tarea puede no ser fácil, pero te ayudará a recordar y ser consciente de aquello que te va sucediendo, lo que vas sintiendo y cómo vas actuando. El objetivo es que entre esta y la próxima sesión puedas plasmar algunas situaciones en el Diario de Emociones y las podemos discutir en la siguiente sesión. Esto no obligatorio, no pasa nada si no tienes tiempo de hacerlo, pero si pensamos que escribir o grabar en el Diario de emociones entre las sesiones puede ayudar a que aproveches la plataforma de manera completa y potencializa las sesiones individuales que tenemos. Veamos el Diario de Emociones juntos/as por si tienes alguna duda.”
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area')
  },
  props: {
    item: {
      require: true,
      type: Object
    },
    week: {
      require: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      motivePrimary: false,
      count: 0,
      description: '',
      session: {
        attributes: {
          therapy_question_a: '',
          therapy_question_b: '',
          therapy_question_c: '',
          therapy_question_d: ''
        }
      },
      checkes: [
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a la depresión'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a la ansiedad'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a adicciones'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a la agresión o ira'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a la paranoia'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados a trastornos de alimentación'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas psicóticos'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Síntomas vinculados al deterioro cognitivo'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos - Regulación general de las emociones'
        },
        {
          item: false,
          count: 0,
          value: 'Procesos psíquicos: síntomas difusos difíciles de describir o relacionados a patología de vacío'
        },
        {
          item: false,
          count: 0,
          value: 'Representación de sí mismo/Autoconcepto - Autoestima disminuida'
        },
        {
          item: false,
          count: 0,
          value: 'Representación de sí mismo/a /Autoconcepto - Sentimientos de culpa y Autocrítica'
        },
        {
          item: false,
          count: 0,
          value: 'Representación de sí mismo/a /Autoconcepto - Dificultad para establecer una construcción de sí mismo'
        },
        {
          item: false,
          count: 0,
          value: 'Representación de sí mismo/a /Autoconcepto - Construcción de proyecto de vida'
        },
        {
          item: false,
          count: 0,
          value: 'Representación de sí mismo/a /Autoconcepto - Disminución de uno mismo a partir de enfermedades físicas'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Dificultad en el establecimiento de límites'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Características asociadas a la dependencia emocional o codependencia'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Sentimientos de abandono/desprotección'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Sumisión ante los otros'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Violencia psicológica en la relación de pareja actual'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Violencia física en la relación de pareja(s) pasadas no elaboradas'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Violencia sexual en la relación de pareja(s) pasadas no elaboradas'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Violencia psicológica en la relación de pareja(s) pasadas no elaboradas'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones Interpersonales - Diferencias en los planes de vida en la relación de pareja.'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Dificultades en la relación de pareja actual no vinculados a violencia'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Sensación de soledad y aislamiento social'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Conflictividad en las dinámicas familiares nucleares'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Violencia dentro de la familia'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Temas en crianza de niños/as y adolescentes'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Relaciones con pares'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Experiencia de trauma/violencia, o violencia sexual, no relacionada a la pareja o familia'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Duelo por pérdida (no vinculado al Covid-19)'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Duelo por término de una relación de pareja'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - Preocupación/acompañamiento a familiares con enfermedad crónica o agudas, diversidad funcional/discapacidad y/o patología mental'
        },
        {
          item: false,
          count: 0,
          value: 'Relaciones interpersonales - temas relacionados a procesos migratorios (sensación de soledad, distanciamiento, ausencia de vínculos cercanos, etc.)'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Laboral - Problemas con la autoridad/ Jefe'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Laboral - Problemas con compañeros de trabajo'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Laboral - Dificultades en la organización del trabajo'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Laboral - Discriminación y violencia dentro del espacio laboral'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Laboral - Dificultad para encontrar motivación laboral'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito laboral - Inestabilidad o insatisfacción laboral/desempleo'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Educativo - Problemas con autoridades/ Docente'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Educativo - Problemas con autoridades/ Docente'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Educativo - Dificultades en la organización de los estudios'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Educativo - Discriminación y violencia dentro del espacio ducativo'
        },
        {
          item: false,
          count: 0,
          value: 'Ámbito Educativo - Dificultad relacionada a la orientación vocacional'
        },
        {
          item: false,
          count: 0,
          value: 'Covid-19 y emergencia sanitaria - Duelo por pérdidas'
        },
        {
          item: false,
          count: 0,
          value: 'Covid-19 y emergencia sanitaria - Duelo por pérdidas'
        },
        {
          item: false,
          count: 0,
          value: 'Covid-19 y emergencia sanitaria - Incertidumbre económica/ laboral'
        },
        {
          item: false,
          count: 0,
          value: 'Covid-19 y emergencia sanitaria - Aumento de incertidumbre e inestabilidad emocional'
        },
        {
          item: false,
          count: 0,
          value: 'Covid-19 y emergencia sanitaria - Incertidumbre sobre futuro educativo'
        },
        {
          item: false,
          count: 0,
          value: 'Relación con actividades delictivas'
        },
        {
          item: false,
          count: 0,
          value: 'Otros (especificar)'
        }
      ],
      motivos: [
        {
          id: '1',
          name: 'motivo1'
        }
      ],
      tabTherapy: {
        motive: false,
        explain: false
      },
      guideState: false,
      motiveMain: false
    }
  },

  computed: {},

  watch: {
    week () {
      this.item.sessions[1].attributes.forEach(element => {
        this.session.attributes[element.key] = String(element.value)
      })
    }
  },
  created () {
    this.item.sessions[1].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    check (i) {
      this.checkes[i].item = !this.checkes[i].item
      this.count = (this.checkes[i].item) ? this.count + 1 : this.count - 1
      this.checkes[i].count = this.count
    },
    saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[1].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
