<template lang="pug">
  .section
    .c-therapy__section.tab(
      @click="tabTherapy.experience = !tabTherapy.experience"
    )
      span 1. Reflexionar sobre el proceso de acompañamiento y sesiones
      i(
        :class="tabTherapy.experience ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.experience"
    )
      p Identificación y reconocimiento  de los recursos con las que cuenta la persona, en relación a su motivo de consulta.
      .c-therapy__experience-title(
              style="background-color:#EFEFEF;")
        .head(
          @click="motiveMain = !motiveMain"
        )
          span Recursos
          i(
            :class="motiveMain ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="motiveMain"
      )
        template(
          v-for="(item, i) in checkes"
        )
          .motive-checkbox(
            @click="check(i)"
            :class="item.item ? 'active' : ''"
          ) {{ item.count }}
          p(style="margin-top:-1.3rem;margin-left:2rem") {{item.value}}
      template(
          v-for="(item1, n) in checkes"
        )
        p(v-if="item1.item===true") {{item1.count + '.-'}} {{item1.value}}
        template(
          v-if="item1.value==='Otros' && item1.item===true"
        )
          input-area-g(
            rules="required"
            name="description"
            v-model="description"
            placeholder="Seleccionar para comenzar a escribir"
          )
      .c-therapy__experience-title_s5
        .head(
          @click="guideState = !guideState"
        )
          span Guia “Profundizar en la reflexión (opcional)
          i(
            :class="guideState ? 'icon-up':'icon-down'"
          )
      .c-therapy__experience-body(
        v-if="guideState"
      )
        ul
          li
            p a. ¿Cómo te has sentido en las sesiones?
            input-area(
              rules="required"
              name="guide-1"
              v-model="session.attributes.therapy_questionGuide_a"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_a')"
            )
          li
            p b. ¿Crees que este espacio te ha sido útil o beneficioso? ¿Cómo así?
            input-area(
              rules="required"
              name="guide-2"
              v-model="session.attributes.therapy_questionGuide_b"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_b')"
            )
          li
            p c. ¿Sientes que tienes mayor claridad sobre el tema que elegimos en un inicio? ¿Más claridad en torno a ti o tus relaciones?
            input-area(
              rules="required"
              name="guide-3"
              v-model="session.attributes.therapy_questionGuide_c"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_c')"
            )
          li
            p d. ¿Cuál consideras es la idea principal que rescatas de todo este proceso?
            input-area(
              rules="required"
              name="guide-4"
              v-model="session.attributes.therapy_questionGuide_d"
              placeholder="Seleccionar para comenzar a escribir"
              @change="saveSessionsAttribute('therapy_questionGuide_d')"
            )
    .c-therapy__section.tab(
      @click="tabTherapy.presentation = !tabTherapy.presentation"
    )
      span 2. Aplicación de la escala
      i(
        :class="tabTherapy.presentation ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="tabTherapy.presentation"
    )
      h3 Escala de Afectos Positivos y Afectos Negativos Sesion 1
      p 1. Escala de experiencias positivas y negativas
      p ¿Cómo te has estado sintiendo en las últimas cuatro semanas?
        h4 Leyenda:
          |   1: Muy rara vez o nunca
          |   2: Rara vez
          |   3: Algunas veces
          |   4: Frecuentemente
          |   5: Muy frecuentemente o siempre
      .ed-grid.m-grid-4
        p Positivo/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_positive1"
          @change="changeVarChange('therapy_affection_positive1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_positive1"
        )
        p Feliz
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_happy1"
          @change="changeVarChange('therapy_affection_happy1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_happy1"
        )
      .ed-grid.m-grid-4
        p Negativo/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_negative1"
          @change="changeVarChange('therapy_affection_negative1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_negative1"
        )
        p Triste
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_sad1"
          @change="changeVarChange('therapy_affection_sad1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_sad1"
        )
      .ed-grid.m-grid-4
        p Bien
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_good1"
          @change="changeVarChange('therapy_affection_good1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_good1"
        )
        p Temeroso/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_fearful1"
          @change="changeVarChange('therapy_affection_fearful1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_fearful1"
        )
      .ed-grid.m-grid-4
        p Mal
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_wrong1"
          @change="changeVarChange('therapy_affection_wrong1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_wrong1"
        )
        p Alegre
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_cheerful1"
          @change="changeVarChange('therapy_affection_cheerful1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_cheerful1"
        )
      .ed-grid.m-grid-4
        p Agradable
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_pleasant1"
          @change="changeVarChange('therapy_affection_pleasant1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_pleasant1"
        )
        p Molesto/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_upset1"
          @change="changeVarChange('therapy_affection_upset1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_upset1"
        )
      .ed-grid.m-grid-4
        p Desagradable
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_unpleasant1"
          @change="changeVarChange('therapy_affection_unpleasant1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_unpleasant1"
        )
        p Complacido/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_pleased1"
          @change="changeVarChange('therapy_affection_pleased1')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_pleased1"
        )
      h4 Escala Subjetiva
      p Si tuvieras que ponerle una puntuación a cómo te sientes actualmente, del 1 al 10 (1 siendo “muy mal” y 10 siendo “muy bien”).
      .ed-grid.m-grid-2
        p Sensación de Bienestar Primera sesión
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_currentpoint_first1"
          @change="changeVarChange('therapy_currentpoint_first1')"
          @input="changeselect"
          :value="session.attributes.therapy_currentpoint_first1"
        )
      .ed-grid.m-grid-2
        p Expectativas de puntaje luego del proceso
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_currentpoint_second1"
          @change="changeVarChange('therapy_currentpoint_second1')"
          @input="changeselect"
          :value="session.attributes.therapy_currentpoint_second1"
        )
    .c-therapy__section(
      v-if="tabTherapy.presentation"
    )
      h3 Escala de Afectos Positivos y Afectos Negativos Sesion 1
      p 1. Escala de experiencias positivas y negativas
      p ¿Cómo te has estado sintiendo en las últimas cuatro semanas?
        h4 Leyenda:
          |   1: Muy rara vez o nunca
          |   2: Rara vez
          |   3: Algunas veces
          |   4: Frecuentemente
          |   5: Muy frecuentemente o siempre
      .ed-grid.m-grid-4
        p Positivo/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_positive2"
          @change="changeVarChange('therapy_affection_positive2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_positive2"
        )
        p Feliz
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_happy2"
          @change="changeVarChange('therapy_affection_happy2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_happy2"
        )
      .ed-grid.m-grid-4
        p Negativo/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_negative2"
          @change="changeVarChange('therapy_affection_negative2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_negative2"
        )
        p Triste
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_sad2"
          @change="changeVarChange('therapy_affection_sad2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_sad2"
        )
      .ed-grid.m-grid-4
        p Bien
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_good2"
          @change="changeVarChange('therapy_affection_good2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_good2"
        )
        p Temeroso/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_fearful2"
          @change="changeVarChange('therapy_affection_fearful2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_fearful2"
        )
      .ed-grid.m-grid-4
        p Mal
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_wrong2"
          @change="changeVarChange('therapy_affection_wrong2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_wrong2"
        )
        p Alegre
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_cheerful2"
          @change="changeVarChange('therapy_affection_cheerful2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_cheerful2"
        )
      .ed-grid.m-grid-4
        p Agradable
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_pleasant2"
          @change="changeVarChange('therapy_affection_pleasant2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_pleasant2"
        )
        p Molesto/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_upset2"
          @change="changeVarChange('therapy_affection_upset2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_upset2"
        )
      .ed-grid.m-grid-4
        p Desagradable
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_unpleasant2"
          @change="changeVarChange('therapy_affection_unpleasant2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_unpleasant2"
        )
        p Complacido/a
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_affection_pleased2"
          @change="changeVarChange('therapy_affection_pleased2')"
          @input="changeselect"
          :value="session.attributes.therapy_affection_pleased2"
        )
      h4 Escala Subjetiva
      .ed-grid.m-grid-2
        p En la primera sesión, señalaste que te sentías como un 3 (mencionar el puntaje).
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_scalesubjective1"
          @change="changeVarChange('therapy_scalesubjective1')"
          @input="changeselect"
          :value="session.attributes.therapy_scalesubjective1"
        )
      .ed-grid.m-grid-2
        p Luego de haber pasado por el proceso, ¿Cambiarías el número que te pusiste en la primera sesión?
        select-input(
          :elements="filters.options"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_scalesubjective2"
          @change="changeVarChange('therapy_scalesubjective2')"
          @input="changeselect"
          :value="session.attributes.therapy_scalesubjective2"
        )
      .ed-grid.m-grid-2
        p Del 1 al 10, ¿Qué puntaje pondrías a cómo te sientes ahora luego de las cinco sesiones?
        select-input(
          :elements="filters.numbers"
          inputStyle="row"
          style="width:5rem;background-color:#fff;color:#000"
          v-model="session.attributes.therapy_scalesubjective3"
          @change="changeVarChange('therapy_scalesubjective3')"
          @input="changeselect"
          :value="session.attributes.therapy_scalesubjective3"
        )
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    item: {
      require: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      varChange: '',
      filters: {
        options: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        numbers: [
          {
            name: '1',
            value: '1'
          },
          {
            name: '2',
            value: '2'
          },
          {
            name: '3',
            value: '3'
          },
          {
            name: '4',
            value: '4'
          },
          {
            name: '5',
            value: '5'
          }
        ]
      },
      session: {
        attributes: {
          therapy_questionGuide_a: '',
          therapy_questionGuide_b: '',
          therapy_questionGuide_c: '',
          therapy_wellness: '',
          therapy_hope: '',
          therapy_affection_positive1: '',
          therapy_affection_happy1: '',
          therapy_affection_negative1: '',
          therapy_affection_sad1: '',
          therapy_affection_good1: '',
          therapy_affection_fearful1: '',
          therapy_affection_wrong1: '',
          therapy_affection_cheerful1: '',
          therapy_affection_pleasant1: '',
          therapy_affection_upset1: '',
          therapy_affection_unpleasant1: '',
          therapy_affection_pleased1: '',
          therapy_currentpoint_first1: '',
          therapy_currentpoint_second1: '',
          therapy_affection_positive2: '',
          therapy_affection_happy2: '',
          therapy_affection_negative2: '',
          therapy_affection_sad2: '',
          therapy_affection_good2: '',
          therapy_affection_fearful2: '',
          therapy_affection_wrong2: '',
          therapy_affection_cheerful2: '',
          therapy_affection_pleasant2: '',
          therapy_affection_upset2: '',
          therapy_affection_unpleasant2: '',
          therapy_affection_pleased2: '',
          therapy_scalesubjective1: '',
          therapy_scalesubjective2: '',
          therapy_scalesubjective3: ''
        }
      },
      checkes: [
        {
          item: false,
          count: 0,
          value: 'No se logra consolidar el proceso terapéutico '
        },
        {
          item: false,
          count: 0,
          value: 'Logra sentirse más tranquilo/a, calmado/a y/o relajado/a'
        },
        {
          item: false,
          count: 0,
          value: 'Logra sentir que es un espacio de confianza y escucha'
        },
        {
          item: false,
          count: 0,
          value: 'Logra identificar patrones conductuales'
        },
        {
          item: false,
          count: 0,
          value: 'Logra identificar patrones o acciones que generan malestar en sus relaciones de pareja'
        },
        {
          item: false,
          count: 0,
          value: 'Logra identificar patrones o acciones que generan malestar en sus relaciones sociales cercanas (no pareja)'
        },
        {
          item: false,
          count: 0,
          value: 'Mejor comprensión de dinámicas familiares'
        },
        {
          item: false,
          count: 0,
          value: 'Logra trabajar temas de duelo (pérdidas de personas)'
        },
        {
          item: false,
          count: 0,
          value: 'Logra reconocer la importancia de espacios de autocuidado'
        },
        {
          item: false,
          count: 0,
          value: 'Reconocimiento de recursos personales'
        },
        {
          item: false,
          count: 0,
          value: 'Reconocimiento de recursos sociales y comunitarios'
        },
        {
          item: false,
          count: 0,
          value: 'Construcción de estrategias de acción frente a los conflictos emocionales'
        },
        {
          item: false,
          count: 0,
          value: 'Construcción de una perspectiva de vida distinta'
        },
        {
          item: false,
          count: 0,
          value: 'Otros (explicitar)'
        }
      ],
      motiveMain: false,
      count: 0,
      tabTherapy: {
        patient: false,
        presentation: false,
        realization: false,
        experience: false,
        aplication: false
      },
      guideState: true,
      guideState1: true,
      attribute: []
    }
  },

  computed: {},

  watch: {},
  created () {
    this.item.sessions[5].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    check (i) {
      this.checkes[i].item = !this.checkes[i].item
      this.count = (this.checkes[i].item) ? this.count + 1 : this.count - 1
      this.checkes[i].count = this.count
    },
    changeVarChange (key) {
      this.varChange = key
    },
    changeselect (e) {
      this.session.attributes[this.varChange] = e.value
      this.saveSessionsAttribute(this.varChange)
    },
    saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[5].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
