<template lang="pug">
  .section(
    v-if="item.Patient"
  )
    .c-therapy__alert(v-show="false")
      i.icon-phone
      p {{ `${item.Patient.firstname} ${item.Patient.lastname}` }} está teniendo problemas de conexión, comúnicate con ella, para llevar a cabo la sesión, a este número: {{ item.Patient.phone }}
    .c-therapy__section
      h3 Motivo principal
      p María es sensible, altamente emocional y muestra poca capacidad para afrontar situaciones de estrés, ansiedad.
      h3 Actores involucrados
      p María es sensible, altamente emocional y muestra poca capacidad para afrontar situaciones de estrés, ansiedad.
      h3 Emociones que se despiertan
      p María es sensible, altamente emocional y muestra poca capacidad para afrontar situaciones de estrés, ansiedad.
    .c-therapy__section
      h3 Motivos secundarios
      p Motivo secundario 1
      p Motivo secundario 2
      p Motivo secundario 3
    .c-therapy__section
      h3 Descripcion breve del paciente (500 car)
      p María es sensible, altamente emocional y muestra poca capacidad para afrontar situaciones de estrés, ansiedad.
    .c-therapy__section
      h3 Ficha de datos personales
      .ed-grid.m-grid-5
        .m-cols-2
          i.icon-profile
          span {{ `${item.Patient.firstname} ${item.Patient.lastname}` }}
        .m-cols-1
          i.icon-female
          span {{ data.genders[item.Patient.gender] }}
        .m-cols-2
          i.icon-personal-card
          span {{ item.Patient.dni }}
        .m-cols-2
          i.icon-birthday
          span {{ $moment(item.Patient.birthday, 'YYYY-MM-DDTHH:mm:ss.SSS').format('DD/MM/YYYY') }} | {{ this.getAgeFromBirthday(item.Patient.birthday) }} años
        .m-cols-3
          i.icon-folder
          span {{ item.Patient.ocupation }}
        .m-cols-2
          i.icon-graduate
          span {{ item.Patient.study_nivel }}
        .m-cols-1
          i.icon-ring
          span {{ item.Patient.civil_state }}
        .m-cols-2
          i.icon-sons
          span 1 hijo
        .m-cols-1
          i.icon-sons
          span 2 hijo
        .m-cols-1
          i.icon-sons
          span 3 hijo
        .m-cols-5
          i.icon-family
          span Convivientes
        .m-cols-1
          span Hijos:
          b {{ profile.attribute.children }}
        .m-cols-1
          span Padres:
          b {{ profile.attribute.parents }}
        .m-cols-1
          span Hermanos:
          b {{ profile.attribute.brothers }}
        .m-cols-1
          span Otros:
          b {{ profile.attribute.others }}
        .m-cols-1
          span TOTAL:
          b {{ profile.attribute.cohabiting }}
    .c-therapy__section.tab(
      @click="testTab = !testTab"
    )
      span Test inicial - 11/20 puntaje
      i(
        :class="testTab ? 'icon-up': 'icon-down'"
      )
    .c-therapy__section(
      v-if="testTab"
    )
      h3 a. Me cuesta sentir tranquilidad.
      p Casi todos los días
      h3 b. Me resulta difícil poder dormir.
      p Más de la mitad de los días
      h3 c. Siento que hay muchas cosas de mi mismo/a que me gustaría cambiar.
      p Varios días
      h3 d. Me siento fastidiado/a o irritable fácilmente
      p Para nada
      h3 e. Tiendo a sentirme preocupado/a
      p Más de la mitad de los días
</template>

<script>
import { mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    week: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: {
        genders: {
          F: 'Mujer',
          H: 'Hombre'
        }
      },
      profile: {
        attribute: []
      },
      testTab: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  async created () {
    if (this.item.Patient) {
      this.item.Patient.attributes.forEach(el => {
        this.profile.attribute[el.key] = el.value
      })
    } else {
      const attributes = await this.A_GET_PROFILEATTRIBUTE({ id: this.$route.params.slug })
      attributes.forEach(el => {
        this.profile.attribute[el.key] = el.value
      })
    }
    this.cohabitingsCalc()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PROFILEATTRIBUTE: 'Profile/A_GET_ATTRIBUTE'
    }),
    cohabitingsCalc () {
      this.profile.attribute.cohabiting = parseInt('0' + this.profile.attribute.children) + parseInt('0' + this.profile.attribute.parents) + parseInt('0' + this.profile.attribute.brothers) + parseInt('0' + this.profile.attribute.others)
    },
    getAgeFromBirthday (birthday) {
      if (birthday) {
        const totalMonths = this.$moment().diff(birthday, 'months')
        const years = parseInt(totalMonths / 12)
        const months = totalMonths % 12
        if (months !== 0) {
          return years
        }
        return years
      }
      return null
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
