<template lang="pug">
  .c-diary
    template(
      v-for="(days, key) in S_DIARIES"
    )
      row-diary(
        :item="days"
      )
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    rowDiary: () => import('@/components/02-molecule/rowDiary/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    ...mapState({
      S_DIARIES: state => state.Diary.S_DIARIES
    })
  },

  watch: {},
  created () {
    this.A_GET_DIARIES({ isPatient: this.$route.params.slug })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_DIARIES: 'Diary/A_GET_DIARIES'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
