<template lang="pug">
  .c-section
    .c-therapy__section.ending-section
      .ending-checks
        .item
          i.icon-check.active
          span Terminada
        .item
          i.icon-check
          span Sin terminar
      input-area(
        label="Observaciones:"
        rules="required"
        name="guide-2"
        placeholder="La sesión se desarrolló con normalidad"
        v-model="session.attributes.close_observations"
        @change="saveSessionsAttribute('close_observations')"
      )
      input-area(
        label="Resolución:"
        rules="required"
        name="guide-2"
        placeholder="Agendamos una cita para dentro de dos semanas"
        v-model="session.attributes.close_resolutions"
        @change="saveSessionsAttribute('close_resolutions')"
      )
    .c-therapy__section.ending-section
      .ending-checks
        .item
          i.icon-check
          span Reportar situación de alerta
      .select
          span Elige o especifica la razón de alerta psicológica
          p(
            @click="optionStateTask = !optionStateTask"
          )
            span {{ currentOptionDerive.name }}
            i.icon-down
          ul.options(
            v-if="optionStateTask"
          )
            li(
              v-for="(item, key) in optionsTask"
              :key="key"
              @click="currentOptionDerive = item"
            ) {{ item.name }}
      .ending-checks.column
        p Nivel de riesgo
        .item
          i.icon-check
          span Alto: Refiere a que la vida de la persona usuaria u otras personas de su entorno se encuentra en riesgo
        .item
          i.icon-check
          span Moderado: Refiere a que existen síntomas que serían importantes trabajar pero que la vida de la persona usuaria u otras personas de su entorno no se encuentra en riesgo
      input-area(
        label="Explica brevemente la razón de señalar la alerta en la persona usuaria"
        rules="required"
        name="guide-2"
        placeholder="Especifica la situación"
        v-model="session.attributes.close_reasonalert"
        @change="saveSessionsAttribute('close_reasonalert')"
      )
      .select
          span Elige o especifica la razón de alerta psicológica
          p(
            @click="optionStateDerive = !optionStateDerive"
          )
            span {{ currentOptionDerive.name }}
            i.icon-down
          ul.options(
            v-if="optionStateDerive"
          )
            li(
              v-for="(item, key) in optionsDerive"
              :key="key"
              @click="currentOptionDerive = item"
            ) {{ item.name }}
      input-area(
        label="Si tuviese una recomendación de como dar acompañamiento a el/ la paciente, escríbala a continuación"
        rules="required"
        name="guide-2"
        placeholder="Especifica la situación"
        v-model="session.attributes.close_recomendation"
        @change="saveSessionsAttribute('close_recomendation')"
      )
    .c-therapy__section.ending-section
      .ending-checks
        .item
          i.icon-check
          span Marcar como caso complejo
    .ed-grid.m-grid-9(
      v-if="week !== 6"
    )
      template(
        v-if="!item.sessions[item.sessions.length - week].completed || editing"
      )
        .m-cols-2
        .m-cols-5
          .c-therapy__section.ending-program
            h3 Agendar sesión(es)
            date-range-picker(
              ref="picker"
              opens="inline"
              :minDate="$moment((new Date().toJSON()), 'YYYY-MM-DDThh:mm:ss').subtract(5, 'hours').format('YYYY-MM-DD')"
              :locale-data="{ firstDay: 1, format: 'yyyy/mm/dd' }"
              :singleDatePicker="true"
              :ranges="false"
              :timePicker="timePicker"
              :timePicker24Hour="timePicker24Hour"
              v-model="dateRange"
              class="date-picker__input--none"
              v-on:select="blockHours"
            )
            p.m-center Disponibilidad (9:00 am. - 22:00 pm.)
            .ending-hours
              template(
                v-for="(hour, i) in hours"
              )
                .hour.m-center(
                  :class="data.hour === hour.value ? 'active' : null"
                  :disabled="hour.disabled"
                  @click="hour.disabled ? null : data.hour = hour.value"
                ) {{ hour.value }}
            .ending-checks( v-show="false" )
              .item
                i.icon-check.active
                span Confirmado
              .item
                i.icon-check
                span Por confirmar
            .e-btn.e-btn--rounded.e-btn--small(
              v-if="!isLoading"
              @click="scheduleNextSession()"
            ) Agendar y guardar
            .e-btn.e-btn--rounded.e-btn--small.e-btn--loading(
              v-else="isLoading"
            )
              i.icon-loading
      template(
        v-else
      )
        template(
          v-if="dateNextSession"
        )
          .m-cols-3
          .m-cols-3
            .c-therapy__section.list-future-sessions
              .header
                i.icon-calendar-1
                span Próxima Sesión
              .item
                img(
                  src="@/assets/images/profile.png"
                )
                p Lista de lo que me hace bien
                //-span Asignar tarea 2
                  i.icon-check(
                    :class="sessionProgram ? 'active': ''"
                    @click="sessionProgram = !sessionProgram"
                  )
                .date
                  i.icon-check
                  span {{ $moment(dateNextSession, 'YYYY-MM-DDTHH:mm:ss').locale("es").format('DD MMM') + ' | ' + $moment(dateNextSession, 'YYYY-MM-DDTHH:mm:ss').format('hh:mm a') }}
                  i.icon-edit(
                    style="background-color: #cfd200; cursor: pointer"
                    @click="editing = true"
                  )
                .alert
                  i.icon-bell
                  span Notificado al paciente
                  i.icon-check
        template(
          v-else
        )
          .m-cols-9
            .c-therapy__section.ending-section.completed
              h3 Sesión completa !
    template(
      v-else
    )
      .c-therapy__section.ending-section
        h3 Informe final
        .select
          p(
            @click="showData = !showData"
          )
            span 1. Datos de la persona atendida
            i(
              :class="showData ? 'icon-up' : 'icon-down'"
            )
        .ed-grid.m-grid-5(
          v-if="showData"
        )
          p.m-cols-5
          .m-cols-2
            i.icon-profile
            span {{ `${item.Patient.firstname} ${item.Patient.lastname}` }}
          .m-cols-1
            i.icon-female
            span {{ data.genders[item.Patient.gender] }}
          .m-cols-2
            i.icon-personal-card
            span {{ item.Patient.dni }}
          .m-cols-2
            i.icon-birthday
            span {{ $moment(item.Patient.birthday, 'YYYY-MM-DDTHH:mm:ss.SSS').format('DD/MM/YYYY') }} | {{ this.getAgeFromBirthday(item.Patient.birthday) }} años
          .m-cols-3
            i.icon-folder
            span {{ item.Patient.ocupation }}
          .m-cols-2
            i.icon-graduate
            span {{ item.Patient.study_nivel }}
          .m-cols-1
            i.icon-ring
            span {{ item.Patient.civil_state }}
          .m-cols-2
            i.icon-sons
            span 1 hijo
          .m-cols-1
            i.icon-sons
            span 2 hijo
          .m-cols-1
            i.icon-sons
            span 3 hijo
          .m-cols-5
            i.icon-family
            span Convivientes
          .m-cols-1
            span Hijos:
            b {{ profile.attribute.children }}
          .m-cols-1
            span Padres:
            b {{ profile.attribute.parents }}
          .m-cols-1
            span Hermanos:
            b {{ profile.attribute.brothers }}
          .m-cols-1
            span Otros:
            b {{ profile.attribute.others }}
          .m-cols-1
            span TOTAL:
            b {{ profile.attribute.cohabiting }}
        br
        .select
          p(
            @click="dataProcess = !dataProcess"
          )
            span 2. Datos del proceso de acompañamiento
            i(
              :class="dataProcess ? 'icon-up' : 'icon-down'"
            )
        .ed-grid.m-grid-5(
          v-if="dataProcess"
        )
          p.m-cols-5
          .m-cols-5
            strong Número de sesiones&nbsp;&nbsp;6
          .m-cols-5
            .input-regular
              label.input__label Expectativa del proceso de acompañamiento
              .select( style="width: 100%;" )
                p(
                  @click="optionStateExperience = !optionStateExperience"
                )
                  span {{ currentOptionExperience.name }}
                  i.icon-down
                ul.options(
                  v-if="optionStateExperience"
                )
                  li(
                    v-for="(item, key) in optionsExperience"
                    :key="key"
                    @click="currentOptionExperience = item"
                  ) {{ item.name }}
              br
              textarea(
                rules="required"
                name="guide-2"
                v-model="data.hope"
              )
          .m-cols-5
            input-area(
              label="Motivo de consulta inicial:"
              rules="required"
              name="reason"
            )
          .m-cols-5
            .select( style="width: 100%;" )
              p(
                @click="currentOptionTemes = !currentOptionTemes"
              )
                span Temas trabajados durante la terapia: (se puede marcar más de 1)
                i(
                  :class="currentOptionTemes ? '-' : 'icon-plus'"
                )
              template(
                v-if="currentOptionTemes"
              )
                br
                .ed-grid.m-grid-2
                  template(
                    v-for="(value, key) in checkeds.two.workTerapy"
                  )
                    div(
                      :class="key === 0 ? 'm-cols-2' : 'm-cols-1'"
                    )
                      .ending-checks
                        .item(
                          @click="value.active = !value.active"
                        )
                          i.icon-check(
                            :class="value.active  ? 'active' : null"
                          )
                          span {{ value.name }}
                input-area(
                  label="Explique brevemente los temas trabajados:"
                  rules="required"
                  name="temesWorkeds"
                  placeholder="Quisque laoreet vitae commodo senectus nunc, lectus scelerisque. Imperdiet consequat ut morbi est amet quis."
                )
          .m-cols-5
            .select( style="width: 100%;" )
              p(
                @click="currentOptionRecords = !currentOptionRecords"
              )
                span Logros del proceso de acompañamiento: 5
                i(
                  :class="currentOptionRecords ? '-' : 'icon-plus'"
                )
              template(
                v-if="currentOptionRecords"
              )
                br
                .ending-checks(
                  v-for="(value, key) in checkeds.two.goalProcess"
                )
                  .item(
                    @click="value.active = !value.active"
                  )
                    i.icon-check(
                      :class="value.active ? 'active' : null"
                    )
                    span {{ value.name }}
                input-area(
                  label="Explique brevemente los logros del proceso terapéutico:"
                  rules="required"
                  name="goalTerapy"
                  placeholder="Lorem ipsum dolor sit amet"
                )
          .m-cols-5
            .select( style="width: 100%;" )
              p(
                @click="currentOptionLimits = !currentOptionLimits"
              )
                span Limitaciones del proceso de acompañamiento: 3
                i(
                  :class="currentOptionLimits ? '-' : 'icon-plus'"
                )
              template(
                v-if="currentOptionLimits"
              )
                br
                .ending-checks(
                  v-for="(value, key) in checkeds.two.limitProcess"
                )
                  .item(
                    @click="value.active = !value.active"
                  )
                    i.icon-check(
                      :class="value.active ? 'active' : null"
                    )
                    span {{ value.name }}
                input-area(
                  label="Explique brevemente las limitaciones o dificultades del proceso terapéutico:"
                  rules="required"
                  name="limitTerapy"
                  placeholder="Lorem ipsum dolor sit amet"
                )
          .m-cols-5
            strong Alerta Psicológica
          .m-cols-5
            input-area(
              label="Explique brevemente la razón:"
              rules="required"
              name="guide-2"
              placeholder="Lorem ipsum dolor sit amet"
              v-model="data.shortReason"
            )
          .m-cols-5
            strong ¿La persona necesitó derivación a algún servicio externo?
          .m-cols-1
            .ending-checks( style="margin-bottom: 0" )
              .item
                i.icon-check
                span No
              .item
                i.icon-check.active
                span Si
          .m-cols-4
            .select( style="width: 100%;" )
              p
                span ¿A qué tipo de servicio?
                i.icon-down
          .m-cols-5
            input-area(
              label="Explique brevemente la razón:"
              rules="required"
              name="guide-2"
              placeholder="Lorem ipsum dolor sit amet"
              v-model="data.shortReason"
            )
          .m-cols-5
            strong Con relación a la encuesta cuantitativa, realizar las siguientes aclaraciones:
          p.m-cols-5.m-center
            strong De acuerdo a su percepción como asistente de bienestar
          .m-cols-4
            strong ¿Cuál considera es el nivel de bienestar actual del paciente?
          .m-cols-1
            .select( style="width: 100%;" )
              p
                strong 8
                i.icon-down
          .m-cols-4
            strong ¿Cuánto cree que ha mejorado el nivel de bienestar del paciente?
          .m-cols-1
            .select( style="width: 100%;" )
              p
                strong 5
                i.icon-down
          .m-cols-5
            input-area(
              label="Detalle brevemente el porqué de su respuesta:"
              rules="required"
              name="guide-2"
              placeholder="Lorem ipsum dolor sit amet"
              v-model="data.shortDetail"
            )
        br
        .select
          p(
            @click="quizProcess = !quizProcess"
          )
            span 3. Evaluación del proceso de acompañamiento
            i(
              :class="quizProcess ? 'icon-up' : 'icon-down'"
            )
        div(
          v-if="quizProcess"
        )
          br
          h3 Escala de Afectos Positivos y Afectos Negativos
          p 1. Escala de experiencias positivas y negativas
          p ¿Cómo te has estado sintiendo en las últimas cuatro semanas?
          .legend
            span Leyenda:
            ul
              li 1: Muy rara vez o nunca
              li 2: Rara vez
              li 3: Algunas veces
              li 4: Frecuentemente
              li 5: Muy frecuentemente o siempre
          .ed-grid.m-grid-2.points
            .m-cols-1(
              v-for="(item, key) in escale" :key="key"
            )
              .input-regular.input-regular--row
                label.input__label {{ item.name }}
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute[`therapy_like_${key}`]"
                )
          h3 Escala Subjetiva
          p Si tuvieras que ponerle una puntuación a cómo te sientes actualmente, del 1 al 10 (1 siendo “muy mal” y 10 siendo “muy bien”).
          .ed-grid.m-grid-2.points
            .m-cols-2
              .input-regular.input-regular--row
                label.input__label Sensación de Bienestar Primera sesión
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute['therapy_wellness']"
                )
            .m-cols-2
              .input-regular.input-regular--row
                label.input__label Expectativas de puntaje luego del proceso
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute['therapy_hope']"
                )
          br
          h3 Escala de Afectos Positivos y Afectos Negativos
          p 1. Escala de experiencias positivas y negativas
          p ¿Cómo te has estado sintiendo en las últimas cuatro semanas?
          .legend
            span Leyenda:
            ul
              li 1: Muy rara vez o nunca
              li 2: Rara vez
              li 3: Algunas veces
              li 4: Frecuentemente
              li 5: Muy frecuentemente o siempre
          .ed-grid.m-grid-2.points
            .m-cols-1(
              v-for="(item, key) in escale" :key="key"
            )
              .input-regular.input-regular--row
                label.input__label {{ item.name }}
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute[`therapy_like_${key}`]"
                )
          h3 Escala Subjetiva
          .ed-grid.m-grid-2.points
            .m-cols-2
              .input-regular.input-regular--row
                label.input__label En la primera sesión, señalaste que te sentías<br>como un 3 (mencionar el puntaje).
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute['therapy_scale0']"
                )
            .m-cols-2
              .input-regular.input-regular--row
                label.input__label Luego de haber pasado por el proceso, ¿Cambiarías<br>el número que te pusiste en la primera sesión?
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute['therapy_scale1']"
                )
            .m-cols-2
              .input-regular.input-regular--row
                label.input__label Del 1 al 10, ¿Qué puntaje pondrías a cómo te sientes<br>ahora luego de las cinco sesiones?
                input(
                  style="background-color: white;"
                  disabled
                  v-model="attribute['therapy_scale2']"
                )
      a.e-btn.e-btn--fullwidth Terminar
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'
import DateRangePicker from 'vue2-daterange-picker'
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
import jwtDecode from 'jwt-decode'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    DateRangePicker
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    week: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      editing: false,
      sessionProgram: false,
      timePicker: false,
      timePicker24Hour: false,
      data: {
        hour: '',
        hope: '',
        shortReason: '',
        shortDetail: '',
        genders: {
          F: 'Mujer',
          H: 'Hombre'
        }
      },
      profile: {
        attribute: []
      },
      session: {
        attributes: {
          close_observations: '',
          close_resolutions: '',
          close_reasonalert: '',
          close_recomendation: ''
        }
      },
      hours: [
        { value: '00:30', disabled: false },
        { value: '01:15', disabled: false },
        { value: '02:00', disabled: false },
        { value: '02:45', disabled: false },
        { value: '03:30', disabled: false },
        { value: '04:15', disabled: false },
        { value: '05:00', disabled: false },
        { value: '05:45', disabled: false },
        { value: '06:30', disabled: false },
        { value: '07:15', disabled: false },
        { value: '08:00', disabled: false },
        { value: '08:45', disabled: false },
        { value: '09:30', disabled: false },
        { value: '10:15', disabled: false },
        { value: '11:00', disabled: false },
        { value: '11:45', disabled: false },
        { value: '12:30', disabled: false },
        { value: '13:15', disabled: false },
        { value: '14:00', disabled: false },
        { value: '14:45', disabled: false },
        { value: '15:30', disabled: false },
        { value: '16:15', disabled: false },
        { value: '17:00', disabled: false },
        { value: '17:45', disabled: false },
        { value: '18:30', disabled: false },
        { value: '19:15', disabled: false },
        { value: '20:00', disabled: false },
        { value: '20:45', disabled: false },
        { value: '21:30', disabled: false },
        { value: '22:15', disabled: false },
        { value: '23:00', disabled: false },
        { value: '23:45', disabled: false }
      ],
      escale: [
        {
          name: 'Positivo/a',
          value: ''
        },
        {
          name: 'Feliz',
          value: ''
        },
        {
          name: 'Negativo/a',
          value: ''
        },
        {
          name: 'Triste',
          value: ''
        },
        {
          name: 'Bien',
          value: ''
        },
        {
          name: 'Temeroso/a',
          value: ''
        },
        {
          name: 'Mal',
          value: ''
        },
        {
          name: 'Alegre',
          value: ''
        },
        {
          name: 'Agradable',
          value: ''
        },
        {
          name: 'Molesto/a',
          value: ''
        },
        {
          name: 'Desagradable',
          value: ''
        },
        {
          name: 'Complacido/a',
          value: ''
        }
      ],
      attribute: {
        therapy_like_0: 5,
        therapy_like_1: 5,
        therapy_like_2: 2,
        therapy_like_3: 2,
        therapy_like_4: 5,
        therapy_like_5: 3,
        therapy_like_6: 2,
        therapy_like_7: 5,
        therapy_like_8: 5,
        therapy_like_9: 7,
        therapy_like_10: 4,
        therapy_like_11: 5,
        therapy_wellness: 3,
        therapy_hope: 5,
        therapy_scale0: 3,
        therapy_scale1: 'No',
        therapy_scale2: 8
      },
      observations: '',
      resolutions: '',
      dateRange: {
        startDate: new Date(),
        endDate: new Date()
      },
      optionStateTask: false,
      optionStateDerive: false,
      optionStateExperience: false,
      currentOptionTemes: false,
      currentOptionRecords: false,
      currentOptionLimits: false,
      optionsTask: [
        {
          value: '1',
          name: 'Duelos o Separaciones con síntomas depresivos graves'
        },
        {
          value: '2',
          name: 'Es víctima recurrente de algún tipo de violencia que atenta contra su vida'
        },
        {
          value: '3',
          name: 'Ideaciones suicidas recurrentes / actos suicidas'
        },
        {
          value: '4',
          name: 'Indicios de Trastorno Obsesivo Compulsivo que impide continuar con el proceso'
        },
        {
          value: '5',
          name: 'Posible agresor sexual contra menor de edad'
        },
        {
          value: '6',
          name: 'Síntomas de abuso de Alcohol y/o Drogas con potencialidad de peligro'
        },
        {
          value: '7',
          name: 'Síntomas de ansiedad difíciles de manejar'
        },
        {
          value: '8',
          name: 'Síntomas de Trastorno de Alimentación graves'
        },
        {
          value: '9',
          name: 'Síntomas depresivos graves'
        },
        {
          value: '10',
          name: 'Síntomas psicóticos: alucinaciones o percepción alterada de la realidad'
        },
        {
          value: '11',
          name: 'Síntomas psicóticos: desorganización en pensamiento o habla'
        }
      ],
      optionsDerive: [
        {
          value: '1',
          name: 'Derivar a un servicio psicológico del Estado'
        },
        {
          value: '2',
          name: 'Derivar a un servicio legal del Estado'
        },
        {
          value: '3',
          name: 'Derivar a un servicio médico-psiquiátrico del Estado'
        },
        {
          value: '4',
          name: 'Agregar otro'
        }
      ],
      optionsExperience: [
        {
          value: '1',
          name: 'Falta de confianza / problemas vinculados al autoestima'
        }
      ],
      checkeds: {
        two: {
          workTerapy: [
            {
              name: 'Relaciones con pares - amistades o entorno cercano no familiar',
              active: false
            },
            {
              name: 'Procesos internos/individuales',
              active: false
            },
            {
              name: 'Relaciones de pareja',
              active: false
            },
            {
              name: 'Dinámica familiar',
              active: false
            },
            {
              name: 'Espacio académico',
              active: true
            },
            {
              name: 'Espacio laboral',
              active: false
            },
            {
              name: 'Otros temas (especificar)',
              active: false
            }
          ],
          goalProcess: [
            {
              name: 'No se logra consolidar el proceso terapéutico',
              active: false
            },
            {
              name: 'Logra sentirse más tranquilo/a, calmado/a y/o relajado/a',
              active: true
            },
            {
              name: 'Logra sentir que es un espacio de confianza y escucha',
              active: false
            },
            {
              name: 'Logra identificar y gestionar mejor sus emociones',
              active: false
            },
            {
              name: 'Logra identificar patrones conductuales',
              active: false
            },
            {
              name: 'Logra identificar patrones o acciones que generan malestar en sus relaciones de pareja',
              active: false
            },
            {
              name: 'Logra identificar patrones o acciones que generan malestar en sus relaciones sociales cercanas (no pareja)',
              active: false
            },
            {
              name: 'Mejor comprensión de dinámicas familiares',
              active: false
            },
            {
              name: 'Logra trabajar temas de duelo (pérdidas de personas)',
              active: false
            },
            {
              name: 'Logra trabajar temas de duelo (pérdidas no relacionadas directamente a la muerte de personas)',
              active: false
            },
            {
              name: 'Logra trabajar temas vinculados a la incertidumbre y ansiedad frente al futuro',
              active: false
            },
            {
              name: 'Logra reconocer la importancia de espacios de autocuidado',
              active: false
            },
            {
              name: 'Reconocimiento de recursos personales',
              active: false
            },
            {
              name: 'Reconocimiento de recursos sociales y comunitarios',
              active: false
            },
            {
              name: 'Construcción de estrategias de acción frente a los conflictos emocionales',
              active: false
            },
            {
              name: 'Construcción de una perspectiva de vida distinta',
              active: false
            },
            {
              name: 'Otros (explicitar)',
              active: false
            }
          ],
          limitProcess: [
            {
              name: 'Dificultades con la conectividad a internet',
              active: false
            },
            {
              name: 'Dificultades en la comprensión de la plataforma Mottiva',
              active: false
            },
            {
              name: 'Dificultades en la comprensión de la escala de inicio y fin de las sesiones',
              active: false
            },
            {
              name: 'Dificultades en la comprensión y realización de las tareas entre sesiones',
              active: false
            },
            {
              name: 'Dificultades en la construcción del vínculo terapéutico',
              active: false
            },
            {
              name: 'Dificultades para consolidar un objetivo terapéutico para las sesiones',
              active: false
            },
            {
              name: 'Dificultades cognitivas del o de la paciente',
              active: false
            },
            {
              name: 'Otras (especificar)',
              active: false
            }
          ]
        }
      },
      currentOptionDerive: {
        value: '',
        name: 'Elegir'
      },
      currentOptionExperience: {
        value: '',
        name: 'Elegir'
      },
      showData: false,
      dataProcess: true,
      quizProcess: false,
      dateNextSession: null,
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_SESSION: state => state.Sessions.S_SESSION
    })
  },

  watch: {
    week: function () {
      this.session.attributes = {
        close_observations: '',
        close_resolutions: '',
        close_reasonalert: '',
        close_recomendation: ''
      }
      this.item.sessions[this.week - 1].attributes.forEach(element => {
        this.session.attributes[element.key] = String(element.value)
      })
      this.canEditing()
    }
  },
  async created () {
    if (this.item.Patient) {
      this.item.Patient.attributes.forEach(el => {
        this.profile.attribute[el.key] = el.value
      })
    } else {
      const attributes = await this.A_GET_PROFILEATTRIBUTE({ id: this.$route.params.slug })
      attributes.forEach(el => {
        this.profile.attribute[el.key] = el.value
      })
    }
    this.item.sessions[this.week - 1].attributes.forEach(element => {
      this.session.attributes[element.key] = String(element.value)
    })
    this.canEditing()
    this.cohabitingsCalc()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_PROFILEATTRIBUTE: 'Profile/A_GET_ATTRIBUTE',
      A_SET_NEXT_SESSION: 'Sessions/A_SET_NEXT_SESSION',
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    canEditing () {
      if (this.item.sessions.length - 1 === this.week) {
        if (this.item.sessions[this.item.sessions.length - this.week - 1]) {
          this.dateNextSession = this.item.sessions[this.item.sessions.length - this.week - 1].date
          this.dateRange = {
            startDate: this.$moment(this.dateNextSession, 'YYYY-MM-DDTHH:mm:ss').format('YYYY-MM-DDTHH:mm:ss'),
            endDate: this.$moment(this.dateNextSession, 'YYYY-MM-DDTHH:mm:ss').format('YYYY-MM-DDTHH:mm:ss')
          }
          this.data.hour = this.$moment(this.dateNextSession, 'YYYY-MM-DDTHH:mm:ss').format('HH:mm')
        }
      } else {
        this.dateNextSession = null
        this.editing = false
      }
    },
    cohabitingsCalc () {
      this.profile.attribute.cohabiting = parseInt('0' + this.profile.attribute.children) + parseInt('0' + this.profile.attribute.parents) + parseInt('0' + this.profile.attribute.brothers) + parseInt('0' + this.profile.attribute.others)
    },
    blockHours () {
      const date = this.$moment((new Date().toJSON()), 'YYYY-MM-DDTHH:mm:ss').subtract(5, 'hours').format('YYYY-MM-DD')
      const picker = this.$moment((new Date(this.$refs.picker.$data.start)).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')
      if (date === picker) {
        const hour = this.$moment((new Date().toJSON()), 'YYYY-MM-DDTHH:mm:ss').subtract(5, 'hours').format('HH:mm')
        this.hours = this.hours.map(el => {
          if (el.value < hour) {
            el.disabled = true
          } else {
            el.disabled = false
          }
          return ({
            value: el.value,
            disabled: el.disabled
          })
        })
      } else {
        this.hours = this.hours.map(el => ({
          value: el.value,
          disabled: false
        }))
      }
    },
    getAgeFromBirthday (birthday) {
      if (birthday) {
        const totalMonths = this.$moment().diff(birthday, 'months')
        const years = parseInt(totalMonths / 12)
        const months = totalMonths % 12
        if (months !== 0) {
          return years
        }
        return years
      }
      return null
    },
    async saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.session.attributes[key]
        }
        await this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[this.week - 1].id, body })
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    async scheduleNextSession () {
      this.isLoading = true
      try {
        const date = this.$moment((new Date(this.$refs.picker.$data.start)).toJSON(), 'YYYY-MM-DD').format('YYYY/MM/DD')
        const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
        const nextWeek = this.week + 1
        const params = {
          idSession: this.S_SESSION.sessions[this.S_SESSION.sessions.length - this.week].id,
          idPatient: this.S_SESSION.Patient.id,
          idPsychologist: profile.user.idProfile,
          date: `${date} ${this.data.hour}`,
          week: nextWeek
        }
        console.log('params', params)
        const { data } = await this.A_SET_NEXT_SESSION(params)
        this.$emit('nexSessionCreated', data)
        this.S_SESSION.sessions[this.S_SESSION.sessions.length - this.week].completed = true
        this.dateNextSession = `${this.$moment((new Date(this.$refs.picker.$data.start)).toJSON(), 'YYYY-MM-DD').format('YYYY-MM-DD')}T${this.data.hour}:00`
        this.editing = false
      } catch (error) {
        console.log('Something went error', error)
      }
      this.isLoading = false
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
