<template lang="pug">
  .ed-grid.m-grid-3
    .m-cols-1
      .c-therapy__section.c-therapy__create-task
        h3 Tarea de la semana
        template(
          v-for="(task, i) in S_TASKS"
        )
          .task-assign
            .header
              i.icon-justify
              span {{ task.name }}
            p  {{ task.description }}
            .footer
              span Asignar tarea {{ i + 1 }}
              i.icon-check(
                @click="saveSessionTask(i, task.id)"
                :class="(task.SessionTask === null) ? '' : 'active'"
              )
          br
        // .task-assign
          .header
            i.icon-justify
            span Lista de logros de la semana
          p Hacer una lista de logros que tengas durante la semana, recuerda que los pequeños logros diarios cuentan.
          .footer
            span Asignar tarea 2
            i.icon-check(
              @click="assignTask = !assignTask"
              :class="assignTask ? 'active':''"
            )
            i.icon-edit
        a(
          @click="statePreview = 'new'"
        ) Crear tarea
        p Solo las tareas seleccionadas se asignarán al usuario
    .m-cols-2
      .c-therapy__section.c-therapy__new-task(
        v-if="statePreview === 'new'"
      )
        h3 Crear tarea
        .select
          span Tipo de tarea
          p(
            @click="optionStateTask = !optionStateTask"
          )
            span {{ currentOptionTask.name }}
            i.icon-down
          ul.options(
            v-if="optionStateTask"
          )
            li(
              v-for="(item, key) in optionsTask"
              :key="key"
              @click="currentOptionTask = item"
            ) {{ item.name }}

        .c-therapy__new-task--questions(
          v-if="currentOptionTask.value === '1'"
        )
          template(
            v-for="(item, key) in questions"
          )
            input-text(
              :label="`Pregunta ${ key + 1 }`"
              type="text"
              rules="required"
              inputStyle="full"
              name="name"
              v-model="item.question"
            )
            input-text(
              label="Elementos obligatorios de la lista"
              type="number"
              rules="required"
              inputStyle="input-regular--row"
              name="name"
              v-model="item.counts"
            )
          a.add-question(
            @click="addTasks()"
          ) + Agregar pregunta
        input-text(
          label="Título de la tarea"
          type="text"
          rules="required"
          inputStyle="full"
          name="name"
          v-model="data.name"
        )
        input-area(
          label="Descripción"
          rules="required"
          name="guide-2"
          v-model="data.description"
        )
        a.e-btn.e-btn--small.e-btn--rounded.disabled Agregar a tareas de paciente
      .c-therapy__section.c-therapy__preview-task(
        v-if="statePreview === 'list'"
      )
        h3 Previsualización - vista paciente
        .task
          h4 Lista de logros de la semana
          p Hacer una lista de logros que tengas durante la semana, recuerda que los pequeños logros diarios cuentan
          ul
            li Logro 1
            li Logro 2
            li Añadir otro +
          span * Respuestas obligatorias
        p No hay tareas asignadas
        img(
          src="@/assets/images/pana.svg"
        )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area')
  },
  props: {
    item: {
      require: true,
      type: Object
    },
    week: {
      require: true,
      type: Number
    }
  },

  data () {
    return {
      assignTask: false,
      statePreview: 'list',
      data: {
        name: '',
        description: ''
      },
      optionStateTask: false,
      optionsTask: [
        {
          value: '1',
          name: 'Lista de elementos'
        },
        {
          value: '2',
          name: 'Texto libre'
        }
      ],
      currentOptionTask: {
        value: '',
        name: 'Elegir tipo de tarea'
      },
      questions: []
    }
  },

  computed: {
    ...mapState({
      S_TASKS: state => state.Tasks.S_TASKS
    })
  },

  watch: {
    week: function () {
      this.A_GET_TASKS({ params: { idPatient: this.$route.params.slug, week: this.week, types: [1, 2] } })
    }
  },
  created () {
    this.A_GET_TASKS({ params: { idPatient: this.$route.params.slug, week: this.week, types: [1, 2] } })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TASKS: 'Tasks/A_GET_TASKSPATIENT',
      A_SET_SESSIONTASK: 'Tasks/A_SET_SESSIONTASK'
    }),
    async saveSessionTask (i, idTask) {
      this.S_TASKS[i].SessionTask = (this.S_TASKS[i].SessionTask === null) ? true : null
      try {
        const state = (this.S_TASKS[i].SessionTask === null) ? 0 : 1
        const response = await this.A_SET_SESSIONTASK({ body: { idSession: this.item.sessions[this.week - 1].id, idTask, state } })
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    addTasks () {
      this.questions.push({ question: '', counts: '' })
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
