<template lang="pug">
  .section(v-if="week === 1")
    week-first(
      :item="item"
    )
  .section(v-else-if="week === 2")
    week-second(
      :item="item"
      :week="week"
    )
  .section(v-else-if="week === 3")
    week-third(
      :item="item"
      :week="week"
    )
  .section(v-else-if="week === 4")
    week-fourth(
      :item="item"
      :week="week"
    )
  week-five(
    v-else-if="week === 5"
    :item="item"
  )
  week-six(
    v-else-if="week === 6"
    :item="item"
  )

</template>

<script>
import { mapActions } from 'vuex'
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    weekFirst: () => import('@/components/02-molecule/week/first'),
    weekSecond: () => import('@/components/02-molecule/week/second'),
    weekThird: () => import('@/components/02-molecule/week/third'),
    weekFourth: () => import('@/components/02-molecule/week/fourth'),
    weekFive: () => import('@/components/02-molecule/week/five'),
    weekSix: () => import('@/components/02-molecule/week/six')
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    week: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: '',
      district: 0,
      filters: {
        options: [
          {
            name: 'Si',
            value: '1'
          },
          {
            name: 'No',
            value: '0'
          }
        ],
        numbers: [
          {
            name: '1',
            value: '1'
          },
          {
            name: '2',
            value: '2'
          },
          {
            name: '3',
            value: '3'
          },
          {
            name: '4',
            value: '4'
          },
          {
            name: '5',
            value: '5'
          }
        ]
      },
      tabsTherapies: 'situation-1',
      tabTherapy: {
        patient: false,
        presentation: false,
        presentation1: false,
        realization: false,
        experience: false,
        aplication: false
      },
      /**
       * patient
       * presentation
       * realization
       * experience
       * aplication
       */
      guideState: true,
      guideState1: true,
      guide: [
        '',
        '',
        ''
      ],
      profile: {
        cohabiting: 0,
        attribute: []
      },
      attribute: [],
      subject: [
        '',
        ''
      ]
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {
    console.log('item:', this.item)
    this.item.Patient.attributes.forEach(element => {
      this.profile.attribute[element.key] = String(element.value)
    })
    this.cohabitingsCalc()
    this.item.sessions[this.week - 1].attributes.forEach(element => {
      this.attribute[element.key] = String(element.value)
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_PROFILE_ATTRIBUTE: 'Profile/A_SET_ATTRIBUTE',
      A_SET_SESSIONS_ATTRIBUTE: 'Sessions/A_SET_ATTRIBUTE'
    }),
    cohabitingsCalc () {
      this.profile.cohabiting = parseInt('0' + this.profile.attribute.children) + parseInt('0' + this.profile.attribute.parents) + parseInt('0' + this.profile.attribute.brothers) + parseInt('0' + this.profile.attribute.others)
    },
    async saveProfileAttribute (key) {
      try {
        const body = {
          key,
          value: this.profile.attribute[key]
        }
        const response = await this.A_SET_PROFILE_ATTRIBUTE({ id: this.item.Patient.id, body })
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    },
    async saveSessionsAttribute (key) {
      try {
        const body = {
          key,
          value: this.attribute[key]
        }
        const response = await this.A_SET_SESSIONS_ATTRIBUTE({ id: this.item.sessions[this.week - 1].id, body })
        console.log(response.message)
      } catch (error) {
        console.log('Something a went error:', error)
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
