<template lang="pug">
  .c-profile
    .ed-grid.m-grid-10
      .m-cols-2.m-x-1
        label.c-profile__avatar
          img(
            v-if="S_PROFILE.Avatar"
            :src="S_PROFILE.Avatar.image"
          )
      .m-cols-5.m-x-3
        .c-profile__box.ed-grid.m-grid-4
          .m-cols-2
            .c-profile__label
              i.icon-profile
              span {{ S_PROFILE.firstname }} {{ S_PROFILE.lastname }}
          .m-cols-1
            .c-profile__label
              i.icon-personal-card
              span {{ S_PROFILE.dni }}
          .m-cols-1
            router-link(
              style="float: right;"
              :to="{ name: 'ProfileEditPage' }"
            )
              i.icon-edit
          .m-cols-2
            .c-profile__label
              i.icon-birthday
              span {{ S_PROFILE.birthday }} | {{ data.age }}
          .m-cols-1
            .c-profile__label
              i.icon-female
              span {{ S_PROFILE.gender === 'F' ? 'Mujer': 'Hombre' }}
          .m-cols-1
            .c-profile__label(
              v-if="S_PROFILE.Agenda"
            )
              i.icon-family
              span Hijos: {{ S_PROFILE.Agenda.children }}
          .m-cols-4(
            v-if="S_PROFILE.District"
          )
            .c-profile__label
              i.icon-home
              span País: {{ S_PROFILE.District.City.Country.name }} | Departamento: {{ S_PROFILE.District.City.name }} | Distrito: {{ S_PROFILE.District.name }}
          .m-cols-4(
            v-if="S_PROFILE.Agenda"
          )
            .c-profile__download
              i.icon-clip
              span DNI adjunto
              a.c-profile__download-input(
                :href="S_PROFILE.Agenda.imageDni"
                target="_blank"
              )
                span {{ imageDni }}
                i.icon-download
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Acerca de mi:
          .m-cols-2(
            v-if="S_PROFILE.Agenda"
          )
            .c-profile__label
              span {{ S_PROFILE.Agenda.description }}
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Presentación corta:
          .m-cols-2(
            v-if="S_PROFILE.Agenda"
          )
            .c-profile__label
              span {{ S_PROFILE.Agenda.short_description }}
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Estudios:
            h4.c-profile__subtitle Titulo Principal
          .m-cols-2
            .c-profile__group-studies__container
              .c-profile__group-studies.ed-grid.m-grid-3(
                v-for="(education, key) in S_PROFILE.ProfileInstitutions"
                :key="key"
              )
                .m-cols-3
                  .c-profile__label
                    i.icon-graduate
                    span {{ education.academic_degree }}
                .m-cols-3
                  .c-profile__label
                    i.icon-academy
                    span {{ education.Institution.name }}
                .m-cols-3
                  .c-profile__label
                    i.icon-calendar-1
                    span Período de estudio: {{ $moment(education.start_date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('YYYY') }} - {{ $moment(education.ending_date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('YYYY') }}
                .m-cols-3
                  .c-profile__label
                    i.icon-clip
                    span Documentación registrada
                .m-cols-3
                  .c-profile__download
                    i.icon-clip.transparent
                    span Título universitario
                    a(
                      :href="education.document"
                      target="_blank"
                    ).c-profile__download-input
                      span {{ education.document }}
                      i.icon-download
                //- .m-cols-3
                  .c-profile__download
                    i.icon-clip.transparent
                    span Diploma de honor
                    .c-profile__download-input
                      span cert-2008-(1).jpg
                      i.icon-download
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Mis especialidades:
          .m-cols-2
            ul.c-profile__specialities
              li(
                v-for="(item, key) in S_PROFILE.Specialties" :key="key"
              )
                span {{ item.name }}
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Seguridad:
          .m-cols-1
            .c-profile__label
              i.icon-email
              span {{ S_PROFILE.email }}
          .m-cols-1
            .c-profile__label
              i.icon-phone
              span {{ S_PROFILE.phone }}
          .m-cols-1
            .c-profile__label
              i.icon-lock-2
              span ***********
          //-.m-cols-2
            .c-profile__recover
              i.icon-lock-2
              span **********
        p.c-profile__footer Perfil enviado 19/04/2021
      .m-cols-3.m-x-8
        .c-profile__video(
          v-if="S_PROFILE.Agenda"
          @click="$modal.show('video-profile')"
        )
          img(
            v-if="S_PROFILE.Agenda.image"
            :src="S_PROFILE.Agenda.image"
          )
          img(
            v-else
            src="@/assets/images/video_profile.png"
          )
          i.icon-play
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Seguridad:
          .m-cols-2(
            v-if="S_PROFILE.Agenda"
          )
            .c-profile__calendar
              ul
                li(
                  v-for="(item, key) in available"
                  @click="day = item.day"
                  :class="day === item.day ? 'active' : ''"
                ) {{ item.dayShort }}
              .c-profile__hours(
                v-for="(itemAvailable, keyAvailable) in available"
              )
                ul.morning.ed-grid.m-grid-2(
                  v-if="itemAvailable.day === day"
                )
                  li.m-cols-1(
                    style="cursor: default;"
                    v-for="(itemHours, keyHours) in itemAvailable.hours"
                    :class="itemHours.state ? 'active' : ''"
                  )
                    span {{ `${itemHours.startHour} ${itemHours.endHour}` }}
      modal(
        name="video-profile"
        :width="650"
        height="auto"
        :adaptive="true"
        class="c-modal"
        v-if="S_PROFILE.Agenda"
      )
        video(:src="S_PROFILE.Agenda.video" controls)
      //-.m-cols-8.m-x-3
        .e-btn.e-btn--fullwidth.disabled Guardar
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    inputArea: () => import('@/components/02-molecule/formElements/area')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      photo: require('@/assets/images/profile-base.png'),
      imageDni: '',
      data: {
        name: 'Sarah Connor',
        card: '76793259',
        date: '1997-11-15',
        age: '24',
        sex: 'Mujer',
        sons: '4',
        country: 'Perú',
        departament: 'Lima',
        district: 'San Miguel',
        document: 'dni_escaneado.jpg',
        about: 'Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal. Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal. Eu non viverra ultricies ultrices. Cursus vitae dui iaculis vulputate. Cras nulla risus donec in. Sed praesent ornal',
        presentation: 'Psicóloga especialista en temas de familia',
        email: 'correodeejemplo@gmail.com',
        phone: '934575282',
        educations: [
          {
            grade: 'Dr. Psicologia',
            institution: 'Universidad Tecnologica del Perú',
            dateInitial: '1997-11-15',
            dateEnded: '2010-11-15',
            document: 'dni_escaneado.jpg'
          },
          {
            grade: 'Dr. Psicologia',
            institution: 'Universidad Tecnologica del Perú',
            dateInitial: '1997-11-15',
            dateEnded: '2010-11-15',
            document: 'dni_escaneado.jpg'
          }
        ],
        specialities: {
          family: true,
          love: true,
          friends: true,
          work: false
        }
      },
      password: 'absasdas',
      available: [],
      day: 1,
      workDays: [
        { value: 1, short: 'L' },
        { value: 2, short: 'M' },
        { value: 3, short: 'M' },
        { value: 4, short: 'J' },
        { value: 5, short: 'V' },
        { value: 6, short: 'S' }
      ],
      hours: [
        { startHour: '06:00', endHour: '06:45', state: false },
        { startHour: '06:45', endHour: '07:30', state: false },
        { startHour: '07:30', endHour: '08:15', state: false },
        { startHour: '08:15', endHour: '09:00', state: false },
        { startHour: '09:00', endHour: '09:45', state: false },
        { startHour: '09:45', endHour: '10:30', state: false },
        { startHour: '10:30', endHour: '11:15', state: false },
        { startHour: '11:15', endHour: '12:00', state: false },
        { startHour: '12:00', endHour: '12:45', state: false },
        { startHour: '12:45', endHour: '13:30', state: false },
        { startHour: '13:30', endHour: '14:15', state: false },
        { startHour: '14:15', endHour: '15:00', state: false },
        { startHour: '15:00', endHour: '15:45', state: false },
        { startHour: '15:45', endHour: '16:30', state: false },
        { startHour: '16:30', endHour: '17:15', state: false },
        { startHour: '17:15', endHour: '18:00', state: false },
        { startHour: '18:00', endHour: '18:45', state: false },
        { startHour: '18:45', endHour: '19:30', state: false },
        { startHour: '19:30', endHour: '20:15', state: false },
        { startHour: '20:15', endHour: '21:00', state: false },
        { startHour: '21:00', endHour: '21:45', state: false }
      ]
    }
  },

  computed: {
    ...mapState({
      S_PROFILE: state => state.Auth.S_PROFILE
    })
  },

  watch: {},
  async created () {
    await this.A_GET_PROFILE()
    this.setterAvailables()
    if (this.S_PROFILE.Agenda.imageDni) {
      const splitUrl = this.S_PROFILE.Agenda.imageDni.split('/')
      this.imageDni = splitUrl[splitUrl.length - 1]
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT',
      A_GET_PROFILE: 'Auth/A_GET_PROFILE'
    }),
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    },
    setterAvailables () {
      this.workDays.forEach(day => {
        let newHours = []
        let state = true
        if (this.S_PROFILE.Availabilities && this.S_PROFILE.Availabilities.length > 0) {
          this.S_PROFILE.Availabilities.forEach(available => {
            if (day.value === Number(available.day)) {
              this.hours.forEach((hour, i) => {
                let state = false
                if (available.start_hour === `${hour.startHour}:00`) {
                  state = true
                }
                newHours.push({
                  startHour: hour.startHour,
                  endHour: hour.endHour,
                  state: state
                })
              })
              state = false
            }
          })
        }
        if (state) {
          newHours = this.hours
        }
        this.available.push({
          day: day.value,
          dayShort: day.short,
          hours: newHours
        })
      })
    },
    onSubmit () {
      console.log(this.data)
    },
    changeSpeciality (value) {
      this.data.specialities[value] = !this.data.specialities[value]
    },
    addEducation () {
      this.data.educations.push(
        {
          grade: '',
          institution: '',
          dateInitial: '',
          dateEnded: '',
          document: ''
        }
      )
    },
    deleteEducation (key) {
      this.data.educations.splice(key, 1)
    },
    previewFiles (e) {
      this.photo = URL.createObjectURL(e.target.files[0])
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
