<template lang="pug">
  validation-observer.c-profile(
    ref="observer"
    v-slot="{ handleSubmit }"
    tag="form"
    @submit.prevent
  )
    .ed-grid.m-grid-10(
      v-if="S_PROFILE"
    )
      .m-cols-2.m-x-1
        label.c-profile__avatar
          i.icon-camera
          img(
            v-if="data.Avatar"
            :src="image.url || data.Avatar.image"
          )
          input(
            type="file"
            @change="onFilePicked"
            accept="image/png, image/jpeg"
          )
      .m-cols-5.m-x-3
        .c-profile__box.c-profile__box--edit.ed-grid.m-grid-2
          .c-profile__save
            i.icon-check
          .m-cols-1
            input-text(
              icon="profile"
              label="Nombre :"
              type="text"
              rules="required"
              inputStyle="input-regular--row"
              name="firstname"
              v-model="data.firstname"
              placeholder=""
              @enter="handleSubmit(onSubmit)"
            )
          .m-cols-1
            input-text(
              icon="profile"
              label="Nombre :"
              type="text"
              rules="required"
              inputStyle="input-regular--row"
              name="lastname"
              v-model="data.lastname"
              placeholder=""
              @enter="handleSubmit(onSubmit)"
            )
          .m-cols-1
            input-text(
              icon="personal-card"
              label="DNI :"
              type="number"
              rules="required|integer"
              inputStyle="input-regular--row"
              name="dni"
              v-model="data.dni"
              placeholder=""
              @enter="handleSubmit(onSubmit)"
            )
          .m-cols-1
            select-input(
              inputStyle="white"
              v-model="data.gender"
              :elements="options.gender"
              @input="changeCurrentGender"
              v-if="data.gender"
              :value="data.gender"
            )
          .m-cols-2
            input-text(
              icon="birthday"
              label="F. Nacimiento :"
              type="date"
              rules="required"
              inputStyle="input-regular--row"
              name="dni"
              v-model="data.birthday"
              placeholder=""
              @enter="handleSubmit(onSubmit)"
            )
          template(
            v-if="data.Agenda"
          )
            .m-cols-1
              input-text(
                icon="family"
                label="Hijos :"
                type="number"
                rules="required"
                inputStyle="input-regular--row"
                name="sons"
                v-model="data.Agenda.children"
                placeholder=""
                @enter="handleSubmit(onSubmit)"
              )
            .m-cols-1
              input-text(
                icon="home"
                label="País :"
                type="text"
                rules="required"
                inputStyle="input-regular--row"
                name="country"
                v-model="data.Agenda.country"
                placeholder=""
                @enter="handleSubmit(onSubmit)"
              )
            .m-cols-1
              input-text(
                icon="home"
                label="Dep. :"
                type="text"
                rules="required"
                inputStyle="input-regular--row icon--transparent"
                name="departament"
                v-model="data.Agenda.department"
                placeholder=""
                @enter="handleSubmit(onSubmit)"
              )
            .m-cols-1
              input-text(
                icon="home"
                label="Distrito :"
                type="text"
                rules="required"
                inputStyle="input-regular--row icon--transparent"
                name="district"
                v-model="data.Agenda.district"
                placeholder=""
                @enter="handleSubmit(onSubmit)"
              )
          .m-cols-2
            .c-profile__download
              i.icon-clip
              span DNI adjunto
              label.c-profile__download-input
                span {{ imageDni.name }}
                i.icon-download
                input( v-show="false" type="file" accept="image/png, image/jpeg, application/pdf" @change="onDniPicked" )
        template(
          v-if="data.Agenda"
        )
          .c-profile__box.c-profile__box--edit.ed-grid.m-grid-2
            .c-profile__save
              i.icon-check
            .m-cols-2
              h3.c-profile__title Acerca de mi:
            .m-cols-2
              input-area(
                rules="required"
                name="about"
                v-model="data.Agenda.description"
                placeholder="Escribe algo sobre ti..."
                @enter="handleSubmit(onSubmit)"
              )
          .c-profile__box.c-profile__box--edit.ed-grid.m-grid-2
            .c-profile__save
              i.icon-check
            .m-cols-2
              h3.c-profile__title Presentación corta:
            .m-cols-2
              input-area(
                rules="required"
                name="about"
                v-model="data.Agenda.short_description"
                placeholder="Escribe algo..."
                @enter="handleSubmit(onSubmit)"
              )
        .c-profile__box.c-profile__box--edit.ed-grid.m-grid-2
          .c-profile__save
            i.icon-plus(
              @click="addEducation()"
            )
          .m-cols-2
            h3.c-profile__title Estudios:
          .m-cols-2
            .c-profile__group-studies__container
              .c-profile__group-studies.ed-grid.m-grid-3(
                v-for="(education, key) in data.ProfileInstitutions"
                :key="key"
              )
                .c-profile__save
                  i.icon-check
                  i.icon-trash(
                    @click="deleteEducation(key)"
                  )
                .m-cols-3
                  input-text(
                    icon="graduate"
                    type="text"
                    rules="required"
                    inputStyle="input-regular--row full"
                    name="grade"
                    v-model="education.academic_degree"
                    placeholder="Grado obtenido"
                  )
                .m-cols-3
                  input-text(
                    icon="academy"
                    type="text"
                    rules="required"
                    inputStyle="input-regular--row full"
                    name="institution"
                    v-model="education.Institution.name"
                    placeholder="Institución educativa"
                  )
                .m-cols-1
                  input-text(
                    icon="calendar-1"
                    type="date"
                    rules="required"
                    inputStyle="input-regular--row full"
                    name="institution"
                    v-model="education.start_date"
                    placeholder="Inicio"
                  )
                .m-cols-1
                  input-text(
                    type="date"
                    rules="required"
                    inputStyle="input-regular--row full"
                    name="institution"
                    v-model="education.ending_date"
                    placeholder="Fin"
                  )
                .m-cols-3
                  input-text(
                    icon="clip"
                    type="text"
                    rules="required"
                    inputStyle="input-regular--row full"
                    name="docuemnt"
                    v-model="education.document"
                    placeholder="Adjunta un documento"
                  )
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Mis especialidades:
          .m-cols-2
            ul.c-profile__specialities.c-profile__specialities__edit
              li(
                v-for="(value, key) in S_SPECIALTIES"
              )
                i(
                  v-if="specialties[key]"
                  @click="changeSpeciality(key)"
                  :class="(specialties[key].value ? 'icon-trash' : 'icon-check')"
                )
                span {{ value.name }}
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Contacto:
          .m-cols-1
            input-text(
              icon="email"
              type="email"
              rules="required"
              inputStyle="input-regular--row full"
              name="email"
              v-model="data.email"
              placeholder="correodeejemplo@gmail.com"
            )
          .m-cols-1
            input-text(
              icon="phone"
              type="number"
              rules="required"
              inputStyle="input-regular--row full"
              name="number"
              v-model="data.phone"
              placeholder="978 526 142"
            )
      .m-cols-3.m-x-8
        .c-profile__box.ed-grid.m-grid-2(
          v-if="data.Agenda"
        )
          .m-cols-2
            h3.c-profile__title Video:
            input-text(
              type="text"
              rules="required"
              inputStyle="input-regular"
              name="firstname"
              v-model="data.Agenda.vimeo"
              placeholder=""
              @change="searchVimeo()"
              @enter="handleSubmit(onSubmit)"
            )
            span(v-show="false") {{ data.Agenda.video }}
            img(
              v-if="data.Agenda.image"
              :src="data.Agenda.image"
              style="margin-top: 8px;"
            )
        .c-profile__box.ed-grid.m-grid-2
          .m-cols-2
            h3.c-profile__title Disponibilidad:
          .m-cols-2(
            v-if="available"
          )
            .c-profile__calendar
              ul
                li(
                  v-for="(item, key) in available"
                  @click="day = item.day"
                  :class="day === item.day ? 'active' : ''"
                ) {{ item.dayShort }}
              template(
                v-for="(value, key) in available"
              )
                profile-available(
                  :item="value"
                  :day="day"
                )
      .m-cols-8.m-x-3
        .e-btn.e-btn--fullwidth(
          v-if="!isLoading"
          @click="onSubmit"
        ) Guardar
        .e-btn.e-btn--fullwidth.e-btn--loading(
          v-else
        )
          span.icon-loading
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { Vimeo } from 'vimeo'
import { CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN } from '@/plugins/vimeo'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    inputText: () => import('@/components/02-molecule/formElements/textRegular'),
    selectInput: () => import('@/components/02-molecule/formElements/select'),
    inputArea: () => import('@/components/02-molecule/formElements/area'),
    profileAvailable: () => import('@/components/02-molecule/profile/available')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      photo: require('@/assets/images/profile-base.png'),
      imageDni: {
        base: null,
        name: ''
      },
      data: {
        name: '',
        card: null,
        date: '',
        sex: '',
        sons: null,
        country: '',
        departament: '',
        district: '',
        about: '',
        presentation: '',
        availabilities: []
      },
      educations: [
        {
          grade: '',
          institution: '',
          dateInitial: '',
          dateEnded: '',
          document: ''
        }
      ],
      image: {
        base: '',
        url: ''
      },
      options: {
        gender: [
          {
            name: 'Mujer',
            value: 'F'
          },
          {
            name: 'Hombre',
            value: 'M'
          }
        ]
      },
      specialties: [],
      password: '',
      available: [],
      day: 1,
      workDays: [
        { value: 1, short: 'L' },
        { value: 2, short: 'M' },
        { value: 3, short: 'M' },
        { value: 4, short: 'J' },
        { value: 5, short: 'V' },
        { value: 6, short: 'S' }
      ],
      hours: [
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ],
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ],
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ],
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ],
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ],
        [
          { startHour: '06:00', endHour: '06:45', state: false },
          { startHour: '06:45', endHour: '07:30', state: false },
          { startHour: '07:30', endHour: '08:15', state: false },
          { startHour: '08:15', endHour: '09:00', state: false },
          { startHour: '09:00', endHour: '09:45', state: false },
          { startHour: '09:45', endHour: '10:30', state: false },
          { startHour: '10:30', endHour: '11:15', state: false },
          { startHour: '11:15', endHour: '12:00', state: false },
          { startHour: '12:00', endHour: '12:45', state: false },
          { startHour: '12:45', endHour: '13:30', state: false },
          { startHour: '13:30', endHour: '14:15', state: false },
          { startHour: '14:15', endHour: '15:00', state: false },
          { startHour: '15:00', endHour: '15:45', state: false },
          { startHour: '15:45', endHour: '16:30', state: false },
          { startHour: '16:30', endHour: '17:15', state: false },
          { startHour: '17:15', endHour: '18:00', state: false },
          { startHour: '18:00', endHour: '18:45', state: false },
          { startHour: '18:45', endHour: '19:30', state: false },
          { startHour: '19:30', endHour: '20:15', state: false },
          { startHour: '20:15', endHour: '21:00', state: false },
          { startHour: '21:00', endHour: '21:45', state: false }
        ]
      ],
      isLoading: false
    }
  },

  computed: {
    ...mapState({
      S_PROFILE: state => state.Auth.S_PROFILE,
      S_SPECIALTIES: state => state.Specialty.S_SPECIALTIES
    })
  },

  watch: {},
  async created () {
    await this.A_GET_SPECIALTIES()
    await this.A_GET_PROFILE()
    this.setterAvailables()
    this.setterSpecialties()
    this.data = this.S_PROFILE
    this.data.Agenda.children = typeof this.S_PROFILE.Agenda.children === 'undefined' ? '0' : String(this.S_PROFILE.Agenda.children)
    if (this.data.Agenda.imageDni) {
      const splitUrl = this.data.Agenda.imageDni.split('/')
      this.imageDni.name = splitUrl[splitUrl.length - 1]
    }
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_LOGOUT: 'Auth/A_LOGOUT',
      A_GET_PROFILE: 'Auth/A_GET_PROFILE',
      A_SET_PHOTO: 'Profile/A_SET_PHOTO',
      A_SET_PROFILE: 'Profile/A_SET_PROFILE',
      A_GET_SPECIALTIES: 'Specialty/A_GET_SPECIALTIES'
    }),
    setterAvailables () {
      const horas = []
      this.workDays.forEach(el => {
        horas.push(this.hours)
      })
      this.workDays.forEach((day, i) => {
        let newHours = []
        let state = true
        if (this.S_PROFILE.Availabilities && this.S_PROFILE.Availabilities.length > 0) {
          this.S_PROFILE.Availabilities.forEach(available => {
            if (day.value === Number(available.day)) {
              this.hours[i].forEach((hour, i) => {
                let state2 = false
                if (available.start_hour === `${hour.startHour}:00`) {
                  state2 = true
                }
                newHours.push({
                  startHour: hour.startHour,
                  endHour: hour.endHour,
                  state: state2
                })
              })
              state = false
            }
          })
        }
        if (state) {
          newHours = this.hours[i]
        }
        this.available.push({
          day: day.value,
          dayShort: day.short,
          hours: newHours
        })
      })
    },
    setterSpecialties () {
      this.specialties = this.S_SPECIALTIES.map(specialty => {
        let value = false
        this.S_PROFILE.Specialties.forEach(profile => {
          if (specialty.id === profile.id) {
            value = true
          }
        })
        return ({
          id: specialty.id,
          value
        })
      })
    },
    logoutAuth () {
      this.A_LOGOUT()
      this.$router.push({ name: 'LoginForm' })
    },
    async onSubmit () {
      this.isLoading = true
      try {
        this.data.attributes = []
        this.data.specialties = this.specialties
        this.data.availabilities = this.available.filter(el => {
          let status = false
          el.hours = el.hours.filter(hour => {
            if (hour.state) {
              status = true
            }
            if (hour.state) {
              return hour
            }
          })
          if (status) {
            return el
          }
        })
        this.data.imageDni = this.imageDni.base
        this.data.attributes.push(
          {
            key: 'children',
            value: this.data.Agenda.children || 0
          },
          {
            key: 'description',
            value: this.data.Agenda.description
          },
          {
            key: 'short_description',
            value: this.data.Agenda.short_description
          },
          {
            key: 'image',
            value: this.data.Agenda.image
          },
          {
            key: 'video',
            value: this.data.Agenda.video || ''
          },
          {
            key: 'vimeo',
            value: this.data.Agenda.vimeo || ''
          },
          {
            key: 'country',
            value: this.data.Agenda.country
          },
          {
            key: 'department',
            value: this.data.Agenda.department
          },
          {
            key: 'district',
            value: this.data.Agenda.district
          }
        )
        this.data.institutions = this.data.ProfileInstitutions
        if (this.image.base) {
          await this.A_SET_PHOTO({ image: this.image.base })
        }
        await this.A_SET_PROFILE(this.data)
        this.isLoading = false
        this.$router.push({ name: 'ProfilePage' })
      } catch (error) {
        console.log('You have a error:', error)
      }
    },
    changeCurrentGender (e) {
      this.data.gender = e.value
    },
    changeSpeciality (key) {
      this.specialties[key].value = !this.specialties[key].value
    },
    addEducation () {
      this.data.ProfileInstitutions.push(
        {
          grade: '',
          Institution: {
            name: ''
          },
          dateInitial: '',
          dateEnded: '',
          document: ''
        }
      )
    },
    deleteEducation (key) {
      this.data.ProfileInstitutions.splice(key, 1)
    },
    onFilePicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.image.base = fileReader.result
      })
      fileReader.readAsDataURL(files[0])
      this.image.url = URL.createObjectURL(files[0])
    },
    onDniPicked (e) {
      const files = e.target.files
      const fileReader = new FileReader()
      fileReader.readAsDataURL(files[0])
      fileReader.addEventListener('load', () => {
        this.imageDni.base = fileReader.result
      })
      this.imageDni.name = files[0].name
    },
    searchVimeo () {
      const idVideo = this.getIdFromVimeoURL(this.data.Agenda.vimeo)
      const client = new Vimeo(CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN)
      console.log('idVideo', idVideo)
      client.request({
        method: 'GET',
        path: '/videos/' + idVideo
      }, this.setImage)
    },
    // eslint-disable-next-line camelcase
    setImage (error, body, status_code, headers) {
      try {
        if (error) {
          console.log('Something a error on setImage:', error)
        }
        if (body.pictures.sizes.length > 0) {
          this.data.Agenda.image = body.pictures.sizes[0].link.replace('100x75', '480x270')
          this.data.Agenda.video = body.files[1].link
        }
      } catch (error) {
        console.log('Something a error on setImage2:', error)
      }
    },
    getIdFromVimeoURL (url) {
      return /(vimeo(pro)?\.com)\/(?:[^\d]+)?(\d+)\??(.*)?$/.exec(url)[3]
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
