<template lang="pug">
  .c-layout--dashboard
    .c-layout--dashboard__navbar
      navbar(
        position="fixed"
      )
      header.c-header
        img(
          src="@/assets/images/banner_psico.png"
          style="width: 100%; height: auto; padding: 128px 0;")
        ul
          li(v-for="(item, index) in navigationList" :key="index")
            a(
              @click="selectPage(item.route, item.index)"
              :class="currentPage === item.index ? 'active': ''"
            ).c-header__item
              .c-header__icon
                i(:class="`icon-${ item.icon }`")
              p {{ item.name }}
    .c-layout--dashboard__body
      router-view
    .c-footer
      .chat_mesa(
        v-if="chat.active"
      )
        h3 Chat con mesa ayuda
        .conversation(style="background: #EFEFEF; height: 300px; overflow: auto; border-radius: 8px; margin-bottom: 8px;")
          ul(style="list-style: none; padding: 0; margin:0;")
            li(
              style="list-style: none; padding: 0; margin:0; display:block; clear:both; overflow: auto;"
              v-for="(item, key) in messages"
            )
              span(
                style="display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                v-if="item.type === 'in'"
              ) {{ item.message }}
              span(
                style="float: right; display:inline-block; background: white; padding: 8px; border-radius: 8px; margin: 4px; font-size: 80%; color: #006AB6"
                v-if="item.type === 'out'"
              ) {{ item.message }}
        div
          input-text(
            type="text"
            v-model="message"
            placeholder="Escribir mensaje"
            v-on:keyup.enter.native="sendMessage"
          )
      img(
        src="@/assets/images/icon_chat.png"
        @click="toggleChat"
      ).icon-chat-mesa
</template>

<script>
// import { mapState } from 'vuex'
import navbar from '@/components/03-organism/navbar.vue'
import { mapActions } from 'vuex'
import jwtDecode from 'jwt-decode'
import { playSound } from '@/plugins/util'

export default {
  components: {
    // component
    navbar,
    inputText: () => import('@/components/02-molecule/formElements/textRegular')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentPage: 1,
      navigationList: [
        {
          icon: 'calendar',
          path: '/agenda',
          name: 'Agenda',
          route: {
            name: 'DiarySessionsPage'
          },
          index: 1
        },
        {
          icon: 'history',
          path: '/historial',
          name: 'Historial',
          route: {
            name: 'HistorySessionsPage'
          },
          index: 2
        },
        {
          icon: 'mottivateca',
          path: '/mottivateca',
          name: 'Mottivateca',
          route: {
            name: 'MottivatecaForYouPage'
          },
          index: 3
        }
      ],
      chat: {
        active: false
      },
      message: '',
      messages: [],
      chatParticipantId: 0,
      chatId: 0
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },
  watch: {},
  created () {
    this.currentPage = this.navigationList.find(item => item.path === this.$route.matched[1].path).index
    this.A_GET_CHAT_HELPDESK().then(
      (chat) => {
        console.log(chat.data)
        this.messages = chat.data.messages
        this.chatParticipantId = chat.data.ChatParticipant.id
        this.chatId = chat.data.id
        this.$socket.emit('joinRoom', { roomName: 'helpdesk-' + chat.data.id })
      }
    )
  },
  mounted () {
    this.sockets.subscribe('messageToUser', (data) => {
      if (data.to === 'helpdesk-' + this.chatId) {
        let type = 'in'
        if (data.idSocket === this.$socket.id) {
          type = 'out'
        }
        if (type === 'in' && !this.chat.active) {
          playSound()
        }
        this.messages = [...this.messages, {
          message: data.message,
          type: type
        }]
      }
    })
  },
  updated () {
    this.$nextTick(() => this.scrollChatToEnd())
  },
  methods: {
    ...mapActions({
      A_GET_CHAT_HELPDESK: 'Profile/A_GET_CHAT_HELPDESK',
      A_SET_MESSAGE: 'Sessions/A_SET_MESSAGE'
    }),
    selectPage (to, point) {
      if (this.$route.name !== to.name) {
        this.$router.push(to)
        this.currentPage = point
      }
    },
    toggleChat () {
      this.chat.active = !this.chat.active
    },
    sendMessage () {
      const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
      this.$socket.emit('messageToRoom', {
        roomName: 'helpdesk-' + this.chatId,
        author: profile.user.firstname,
        message: this.message
      })
      this.A_SET_MESSAGE({
        id: this.chatParticipantId,
        message: this.message
      })
      this.message = ''
    },
    scrollChatToEnd () {
      const container = this.$el.querySelector('.conversation')
      if (container) {
        container.scrollTop = container.scrollHeight - container.clientHeight
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
