<template lang="pug">
  .c-card-training
    span.c-card-training__badge
      i.icon-play
      | {{ $moment(training.Media.duration, "hh:mm:ss").format("m [min.]") }}
    span.c-card-training__favorite(
      @click="inFavorite = !inFavorite"
      :class="inFavorite ? 'active': ''"
    )
      i.icon-heart
    .c-card-training__body
      div
        router-link(:to="router")
          p {{ training.Media.name }}
        i(
          :class="inSave ? 'icon-save':'icon-save-inactive'"
          @click="inSave = !inSave"
        )
        img(:src="training.Media.image")
    router-link(:to="router")
      img(:src="training.Media.image")
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    training: {
      required: false,
      type: Object
    },
    router: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      inFavorite: false,
      inSave: false
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
