.u-p {
  &__l {
    &--none {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.date-picker__input--none {
  margin: 0 auto;

  > .form-control {
    display: none;
  }
  .daterangepicker {
    margin-top: 0;
  }
  .drp-buttons {
    display: none !important;
  }
}