<template lang="pug">
  .c-card-patient
    img(:src="patient.image")
    .c-card-patient__description
      h4 {{ patient.firstname }} {{ patient.lastname }}
      p Sesión {{ patient.current_session }}/{{ patient.total_sessions }}
      span {{ patient.sessions[patient.sessions.length - 1].SessionAttributes[1].value }}
    .e-btn.e-btn--small.e-btn--rounded(
      @click="$modal.show(`patient-history-${ patient.id }`)"
    ) Ver
    modal(
      :name="`patient-history-${ patient.id }`"
      :width="800"
      height="auto"
      :adaptive="true"
      class="c-modal"
    )
      .c-card-patient__history
        h3 Historial de sesiones
        .c-card-patient__profile
          img(:src="patient.image")
          h4 {{ patient.firstname }} {{ patient.lastname }}
          p Sesión {{ patient.current_session }}/{{ patient.total_sessions }}
          span {{ patient.firstname }}
        .c-card-patient__sessions.ed-grid.m-grid-2
          .m-cols-1(v-for="session in patient.sessions")
            .c-card-patient__sessions__item
              p
                span Sesión {{ session.current }}
                | : {{ $moment(session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format("DD MMM YYYY") }}
              router-link.e-btn.e-btn--small.e-btn--rounded(to="/") Ver
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    patient: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
