<template lang="pug">
  list-sessions(
    :sessions="response"
    @changeTo="toChanged"
    @searchTo="toSearch"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listSessions: () => import('@/components/03-organism/listSessions/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },
  data () {
    return {
      data: '',
      currentTab: 0,
      sessionsData: [
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Lidiando con la ansiedad',
          type: 'community',
          session: {
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Lidiando con la ansiedad',
          type: 'community',
          session: {
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ],
      sessions: [],
      response: {},
      afternoon: [],
      to: 'today'
    }
  },
  computed: {
    ...mapState({
      S_SESSIONS: state => state.Sessions.S_SESSIONS
    })
  },
  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SESSIONS: 'Sessions/A_GET_SESSIONS'
    }),
    async initList () {
      this.response = await this.A_GET_SESSIONS({
        offset: 0,
        limit: 40,
        to: this.to
      })
      this.sessions = this.response.data
      this.rooms = this.response.rooms
    },
    toChanged (to) {
      this.to = to.value
      this.initList()
    },
    toSearch (to) {
      if (to !== '') {
        this.response.data = this.sessions.filter(el => {
          const name = (`${el.Patient.firstname} ${el.Patient.lastname}`).toLowerCase()
          const index = name.indexOf(to.toLowerCase())
          if (index >= 0) {
            return el
          }
        })
        this.response.rooms = this.rooms.filter(el => {
          const name = el.title.toLowerCase()
          const index = name.indexOf(to.toLowerCase())
          if (index >= 0) {
            return el
          }
        })
      } else {
        this.initList()
      }
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
