<template lang="pug">
  list-sessions(
    v-if="S_SESSIONS"
    :sessionsData="S_SESSIONS"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listSessions: () => import('@/components/03-organism/listSessions/history')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      currentTab: 0,
      sessionsData: [
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Maria Claudia',
          type: 'personal',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_SESSIONS: state => state.Sessions.S_SESSIONS
    })
  },
  watch: {},
  created () {
    this.A_GET_SESSIONS({
      schedule: '',
      offset: 0,
      limit: 4
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_SESSIONS: 'Sessions/A_GET_SESSIONS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
