<template lang="pug">
  .o-list-sessions
    .o-list-sessions__filters
      select-input(
        v-if="S_FILTERS.category_media_types"
        :elements="generateSelectOptions(S_FILTERS.category_media_types)"
        @input="changeCurrentSelect"
      )
      select-input(
        v-if="S_FILTERS.categories"
        :elements="generateSelectOptions(S_FILTERS.categories)"
        @input="changeCurrentSelectThematic"
      )
      select-input(
        v-if="S_FILTERS.media_types"
        :elements="generateSelectOptions(S_FILTERS.media_types)"
        @input="changeCurrentSelectMediaType"
      )
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon(
        @click="changeFavorite()"
        :class="params.favorite ? '':'e-btn--white'"
      ) Favoritos
        i.icon-heart
      .e-btn.e-btn--rounded.e-btn--small.e-btn--icon(
        @click="changeSave()"
        :class="params.archived ? '':'e-btn--white'"
      ) Ver más tarde
        i.icon-save
    .ed-grid.m-grid-2
      .m-cols-1(v-for="element in trainingsData")
        card-mottivateca(
          :training="element"
          :router="{ name: 'MottivatecaDetail', params: { slug: element.id } }"
        )
      .m-cols-1(
        v-if="!trainingsData.length"
      )
        p No se encontraron resultados
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    cardMottivateca: () => import('@/components/02-molecule/cardMottivateca/default'),
    selectInput: () => import('@/components/02-molecule/formElements/select')
  },
  props: {
    // propierty: { required: false, type: String },
    trainingsData: {
      required: true,
      type: Array
    }
  },
  data () {
    return {
      data: '',
      params: {
        role: 2,
        type_cat_media: 1,
        type: 1,
        category: 1,
        favorite: false,
        archived: false
      }
    }
  },

  computed: {
    ...mapState({
      S_FILTERS: state => state.Trainings.S_FILTERS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_FILTERS()
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_FILTERS: 'Trainings/A_GET_FILTERS',
      A_GET_TRAININGS: 'Trainings/A_GET_TRAININGS'
    }),
    changeCurrentSelect (e) {
      if (this.params.type_cat_media !== e.value) {
        this.params.type_cat_media = e.value
        this.A_GET_TRAININGS(this.params)
      }
    },
    changeCurrentSelectThematic (e) {
      if (this.params.category !== e.value) {
        this.params.category = e.value
        this.A_GET_TRAININGS(this.params)
      }
    },
    changeCurrentSelectMediaType (e) {
      if (this.params.type !== e.value) {
        this.params.type = e.value
        this.A_GET_TRAININGS(this.params)
      }
    },
    generateSelectOptions (options) {
      const generateOptions = []
      options.forEach(element => {
        generateOptions.push({
          name: element.name,
          value: element.id
        })
      })
      return generateOptions
    },
    changeFavorite () {
      this.params.favorite = !this.params.favorite
      this.A_GET_TRAININGS(this.params)
    },
    changeSave () {
      this.params.archived = !this.params.archived
      this.A_GET_TRAININGS(this.params)
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
