<template lang="pug">
  validation-provider(
    :rules="rules"
    v-slot="{ errors }"
    :slim="true"
  ).c-select
    .c-select__label(
      :class="[inputStyle,{ 'input--error': errors[0] || forceSucessMessage !== '' }]"
      @click="stateSelect = !stateSelect"
    )
      span(
        v-if="currentElement"
      ) {{ currentElement.name }}
      span( v-else )
      i.icon-down
      transition(name="fade")
        ul.c-select__options(v-show="stateSelect")
          li(
            v-for="element in elements"
            @click="currentElement = element"
          ) {{ element.name }}
  //   .input__error-caption(
      v-if="forceErrorMessage === ''"
    )
      span(
        v-if="errors[0]"
      ) {{ errors[0] }}
    .input__error-caption(
      v-else
    )
      span {{ forceErrorMessage }}

    .input__error-caption(
      v-if="forceSucessMessage !== ''"
    )
      span {{ forceSucessMessage }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    elements: {
      required: true,
      type: Array
    },
    inputStyle: {
      required: false,
      type: String
    },
    rules: {
      type: String,
      default: ''
    },
    forceErrorMessage: {
      type: String,
      default: ''
    },
    forceSucessMessage: {
      type: String,
      default: ''
    },
    label: {
      required: false,
      type: String
    },
    value: {
      required: false,
      type: String,
      default: null
    }
  },

  data () {
    return {
      data: '',
      stateSelect: false,
      currentElement: null
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {
    currentElement () {
      this.$emit('change', true)
      this.$emit('input', this.currentElement)
      this.stateSelect = false
    }
  },
  created () {
    console.log('value', this.value)
    if (this.value !== null) {
      this.elements.forEach(el => {
        if (el.value === this.value) {
          this.currentElement = el
        }
      })
    } else {
      this.currentElement = this.elements[0]
    }
  },
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
