<template lang="pug">
  div
    .c-diary__days(
      @click="show = !show"
    )
      span {{ $moment(item.date).format("dddd DD MMM") }}
      span
        span(
          style="height: 28px;margin-right: .5rem"
        )
          svg(
            v-if="containUnseen"
            width="11"
            height="12"
            viewBox="0 0 11 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          )
            circle(
              cx="5.23242"
              cy="6.06104"
              r="5.10205"
              fill="#FF5656"
            )
        i(
          :class="show ? 'icon-up': 'icon-down'"
        )
    template(
      v-if="show"
      v-for="(diary, i) in diaries"
    )
      .c-diary__audios(
        v-if="diary.audio"
      )
        p(style="display:flex") {{ $moment(diary.date).format("HH:mm a") }}
          span(
            v-if="diary.seen === 0"
            style="height: 28px;margin-left: .5rem"
          )
            svg(
              width="11"
              height="12"
              viewBox="0 0 11 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            )
              circle(
                cx="5.23242"
                cy="6.06104"
                r="5.10205"
                fill="#FF5656"
              )
        audio(
          controls
          @play="playingAudio(i)"
        )
          source(
            :src="diary.audio"
            type="audio/mpeg"
          )
      .c-diary__text(
        v-if="diary.text"
      )
        p {{ $moment(diary.date).format("HH:mm a") }}
        p.text(
        ) {{ diary.show ? diary.text : diary.textReduce }}
        .footer(
          v-if="diary.showMore"
        )
          span.pointer(
            @click="diary.show = !diary.show"
          ) {{ (diary.show)? 'Ver menos' : 'Ver más' }}
</template>

<script>
// import component from '@/components/component.vue'

import { mapActions } from 'vuex'

export default {
  components: {
    // component
  },
  props: {
    item: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: '',
      show: false,
      showMore: [],
      diaries: []
    }
  },

  computed: {
    containUnseen: function () {
      let count = 0
      this.diaries.map((diary) => {
        if (diary.audio !== null && diary.seen === 0) {
          count++
        }
      })
      return (count > 0)
    }
  },
  watch: {},
  created () {
    this.diaries = this.item.diaries.map(el => {
      const max = 140
      const show = {
        textReduce: el.text,
        show: false,
        showMore: false
      }
      if (el.text) {
        if (el.text.length > max) {
          show.textReduce = el.text.substr(0, max) + '...'
          show.showMore = true
        }
      }
      return ({
        ...el,
        ...show
      })
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_SET_SEEN: 'Diary/A_SET_SEEN'
    }),
    async playingAudio (position) {
      this.diaries[position].seen = 1
      await this.A_SET_SEEN({ id: this.diaries[position].id })
      // this.item.diaries[position] = newDiary
    }
  }
}
</script>

<style lang="css" scoped>
.pointer {
  cursor: pointer;
}
</style>
