.c-layout {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #D2EFF7;
}
.c-layout-dashboard {
  &__body {
    .ed-grid {
      margin-left: auto;
      margin-right: auto;
    }

    &--image {
      // background: url("assets/images/bg-dashboard.jpg");
      background-color: #D2EFF7;
    }
  }
}
.c-footer {
  .icon-chat-mesa{
    width:48px;
    height:48px;
    cursor:pointer;
    position: fixed;
    top: auto;
    left: auto;
    right: 24px;
    bottom: 24px;
  }
  .chat_mesa{
    position: fixed;
    right: 24px;
    bottom: 80px;
    top:auto;
    left: auto;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #CCC;
    border-radius: 8px;
    padding: 16px;
    max-width: 80%;
    width: 300px;

  }
}