<template lang="pug">
  .c-profile__hours
    ul.morning.ed-grid.m-grid-2(
      v-show="item.day === day"
    )
      template(
        v-for="(value, key) in item.hours"
      )
        profile-hours(
          :key="key"
          :hour="value"
        )
</template>

<script>

export default {
  components: {
    profileHours: () => import('@/components/02-molecule/profile/hours')
  },
  props: {
    item: {
      required: true,
      type: Object
    },
    day: {
      required: true,
      type: Number
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
