<template lang="pug">
  li.m-cols-1(
    style="cursor: pointer;"
    :class="hour.state ? 'active' : ''"
    @click="hour.state = !hour.state"
  )
    span {{ `${hour.startHour} - ${hour.endHour}` }}
</template>

<script>

export default {
  components: {},
  props: {
    hour: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {},

  watch: {},
  async created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
