<template lang="pug">
  list-mottivateca(
    :trainingsData="S_TRAININGS"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listMottivateca: () => import('@/components/03-organism/listMottivateca/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      listTrainings: []
    }
  },

  computed: {
    ...mapState({
      S_TRAININGS: state => state.Trainings.S_TRAININGS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_TRAININGS({
      role: 2,
      type_cat_media: '',
      type: '',
      category: '',
      favorite: '',
      archived: ''
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRAININGS: 'Trainings/A_GET_TRAININGS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
