<template lang="pug">
  .c-training(
    v-if="S_TRAINING.Media"
  )
    breadcrumb(
      :routes="[{ name: S_TRAINING.Media.name }]"
    )
    video(controls)
      source( :src="S_TRAINING.Media.file" type="video/mp4")
    ul.c-training__options
      li
        a(@click="upSave()") {{ inSave ? 'Quitar de': 'Añadir a' }} favoritos
      li
        a(@click="upFavorite()") {{ inFavorite ? 'Quitar de': 'Añadir a' }} ver más tarde
</template>

<script>
import { mapActions, mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    breadcrumb: () => import('@/components/02-molecule/breadcrumb/default')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: {
        id: '1',
        slug: 'video',
        time: '00:23:00',
        title: 'Aprendiendo a superar el pánico escénico',
        image: require('@/assets/images/training.png'),
        video: 'https://www.w3schools.com/html/mov_bbb.mp4',
        state: 'complete'
      },
      inSave: false,
      inFavorite: false
    }
  },

  computed: {
    ...mapState({
      S_TRAINING: state => state.Trainings.S_TRAINING
    })
  },

  watch: {},
  async created () {
    await this.A_GET_TRAINING(this.$route.params.slug)
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRAINING: 'Trainings/A_GET_TRAINING'
    }),
    upSave () {
      this.inSave = !this.inSave
    },
    upFavorite () {
      this.inFavorite = !this.inFavorite
    }
  }
}
</script>

<style lang="sass" scoped>
</style>
