<template lang="pug">
  list-mottivateca-patient(
    :trainingsData="S_TRAININGS"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listMottivatecaPatient: () => import('@/components/03-organism/listMottivateca/patient')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      listTrainings: [
        {
          id: '1',
          slug: 'video',
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          id: '1',
          slug: 'video',
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          id: '1',
          slug: 'video',
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'complete'
        },
        {
          id: '1',
          slug: 'video',
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        },
        {
          id: '1',
          slug: 'video',
          time: '00:23:00',
          title: 'Aprendiendo a superar el pánico escénico',
          image: require('@/assets/images/training.png'),
          state: 'in-complete'
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_TRAININGS: state => state.Trainings.S_TRAININGS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_TRAININGS({
      role: 1,
      type_cat_media: '',
      type: '',
      category: '',
      favorite: '',
      archived: ''
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_TRAININGS: 'Trainings/A_GET_TRAININGS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
