<template lang="pug">
  list-emotion-rooms(
    v-if="S_ROOMS"
    :sessionsData="S_ROOMS"
  )
</template>

<script>
import { mapState, mapActions } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
    listEmotionRooms: () => import('@/components/03-organism/listEmotionRooms/history')
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: '',
      emotionRoomsData: [
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        },
        {
          name: 'Como manejar la ansiedad en pandemia.',
          type: 'community',
          session: {
            current: 4,
            total: 8,
            type: 'Depresión',
            date: '2021-03-05 12:43:00'
          }
        }
      ]
    }
  },

  computed: {
    ...mapState({
      S_ROOMS: state => state.Rooms.S_ROOMS
    })
  },

  watch: {},
  async created () {
    await this.A_GET_ROOMS({
      to: ''
    })
  },
  mounted () {},
  updated () {},
  methods: {
    ...mapActions({
      A_GET_ROOMS: 'Rooms/A_GET_ROOMS'
    })
  }
}
</script>

<style lang="sass" scoped>
</style>
