.e-btn {
  display: inline-block;
  border: none;
  font-family: "sofia_pro";
  font-size: 16px;
  padding: 1em;
  background-color: $g-secondary;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;

  i {
    display: flex;
    align-items: center;
  }
  &:focus {
    outline: none;
  }
  &--rounded {
    border-radius: 3rem;
  }
  &--fullwidth {
    display: block;
    width: 100%;
  }
  &--loading {
    min-width: 4rem;
    i {
      width: 1rem;
      height: 0.9rem;
      display: block;
      &:before {
        animation-name: btnRotate;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        position: absolute;
        @keyframes btnRotate {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
  &--small {
    padding: 0.5rem 1em;
  }
  &--white {
    background-color: white;
    color: $g-primary;
    box-shadow: 2px 2px 15px 2px rgba(30, 6, 75, 0.15);
  }
  &--icon {
    display: flex;
    min-height: 37px;

    i {
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
  &.disabled {
    background-color: #7d7d7d;
  }
}
