.e-checkbox {
  display: flex;
  font-size: 0.9rem;
  color: $g-secondary;
  font-weight: 300;
  justify-content: center;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid $g-secondary;
    color: transparent;
    margin-right: 0.5rem;

    i {
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  input {
    display: none;
    &:checked + span {
      color: $g-secondary;
    }
  }
  p {
    margin-bottom: 0;
  }
}
