input,textarea {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  display: block;
  width: 100%;
  appearance: none;
  font-family: inherit;
  position: relative;
  resize: none;

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button  {
    appearance: none;
  }
  &::-webkit-calendar-picker-indicator {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4c4c4;
  }
}
textarea {
  min-height: 4rem;
}
.input-group {
  margin: 0.5rem 0;
}
.input {
  &__icon {
    display: flex;
    padding: 1em;
    background-color: white;
    border-radius: 3rem;
    color: #7d7d7d;

    i {
      font-size: 1.3rem;
      height: 1.2em;
      width: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input,textarea {
      padding: 0 0 0 0.5rem;
      background-clip: text;
    }
  }
  &--gray {
    .input__icon {
      background-color: #efefef;
    }
  }
  &__error-caption {
    padding: 0.2rem 1rem;
    font-weight: 300;
    font-size: 0.9rem;
    color: $g-error;
  }
}
.input-regular {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  &.icon--transparent {
    i {
      opacity: 0;
    }
  }

  &--row {
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    label {
      margin-right: .5rem;
    }

    input,textarea {
      margin-left: auto;
      max-width: 65%;
    }
    &.full {
      input {
        max-width: 100%;
      }
    }
  }
  i {
    display: flex;
    align-items: center;
    margin-right: .5rem;
  }

  input,textarea {
    background-color:#efefef;
    font-size: .9rem;
    width: 100%;
    border-radius: 4px;
    color: $g-text-darker;
    padding: .3rem .5rem;
  }
  &.input--error {
    i, label {
      color: $g-error;
    }
  }
}