<template lang="pug">
  router-link.c-card-session(:to="router" :class="`${ typeSession !== 'personal' ? 'c-card-session--community' : '' }`" )
    img(:src="session.Session.Patient.Avatar.image")
    .c-card-session__description
      h4 {{ session.Session.Patient.firstname }} {{ session.Session.Patient.lastname }}
      p(
        v-if="session.Session.SessionAttributes"
      ) {{ description }}
      span {{ $moment(session.Session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('h:mm a') }}
    .c-card-session__calendar( :class="`${ type ? 'c-card-session__calendar--' + type : '' }`" )
      span {{ $moment(session.Session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('ddd') }}
      span {{ $moment(session.Session.date, 'YYYY-MM-DDTHH:mm:ss.SSS').format('D') }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    mode: {
      require: false,
      type: String,
      default: 'normal'
    },
    typeSession: {
      /**
       * Personal
       * Community
       */
      type: String,
      default: 'personal'
    },
    type: {
      /**
       * R: regular
       * M: medium
       * E: emergency
       * C: community
       */
      type: String
    },
    router: {
      required: true,
      type: Object
    },
    session: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    description () {
      return `${this.session.Session.order}/${this.session.Session.total} ${this.session.Session.SessionAttributes[1].value}`
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
