<template lang="pug">

  router-link.c-card-session(
    :to="router"
    :class="`${ typeSession !== 'personal' ? 'c-card-session--community' : '' }`"
  )
    img(:src="session.image")
    .c-card-session__description
      h4 {{ session.title }}
      span {{ $moment(session.start, 'YYYY-MM-DDTHH:mm:ss Z').format('h:mm a') }}
    .c-card-session__calendar.c-card-session__calendar--community
      span {{ $moment(session.start, 'YYYY-MM-DDTHH:mm:ss Z').format('ddd') }}
      span {{ $moment(session.start, 'YYYY-MM-DDTHH:mm:ss Z').format('D') }}
</template>

<script>
// import { mapState } from 'vuex'
// import component from '@/components/component.vue'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
    mode: {
      require: false,
      type: String,
      default: 'normal'
    },
    typeSession: {
      /**
       * Personal
       * Community
       */
      type: String,
      default: 'personal'
    },
    type: {
      /**
       * R: regular
       * M: medium
       * E: emergency
       * C: community
       */
      type: String
    },
    router: {
      required: true,
      type: Object
    },
    session: {
      required: true,
      type: Object
    }
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
    description () {
      if (this.mode === 'history') {
        return `Sesión: ${this.session.session.current}/${this.session.session.total}`
      } else {
        return `${this.session.session.current}/${this.session.session.total} ${this.session.session.type}`
      }
    }
  },

  watch: {},
  created () {},
  mounted () {},
  updated () {},
  methods: {}
}
</script>

<style lang="sass" scoped>
</style>
