<template lang='pug'>
  #app
    router-view
</template>
<script>

import jwtDecode from 'jwt-decode'

export default {
  components: {
    // component
  },
  props: {
    // propierty: { required: false, type: String },
  },

  data () {
    return {
      data: ''
    }
  },

  computed: {
    // ...mapState({
    // homeCampaign: state => state.homeCampaign
    // })
  },

  watch: {},
  created () {},
  mounted () {
    this.$vueSocketIo.io.on('connect', () => {
      if (this.$cookies.get('AUTH_TOKEN')) {
        const profile = jwtDecode(this.$cookies.get('AUTH_TOKEN'))
        this.$socket.emit('addConnectedUser', { idProfile: profile.user.idProfile })
      } else {
        this.$vueSocketIo.io.disconnect()
      }
    })
  },
  updated () {},
  methods: {}
}
</script>
<style lang="scss">
@import "assets/scss/app.scss"
</style>
